<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minlia.module.wallet.mapper.SysWalletRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.minlia.module.wallet.entity.SysWalletRecordEntity">
        <id column="id" property="id" />
        <result column="wallet_id" property="walletId" />
        <result column="type" property="type" />
        <result column="amount" property="amount" />
        <result column="remark" property="remark" />
        <result column="create_by" property="createBy" />
        <result column="create_date" property="createDate" />
        <result column="last_modified_by" property="lastModifiedBy" />
        <result column="last_modified_date" property="lastModifiedDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, wallet_id, type, amount, remark, create_by, create_date, last_modified_by, last_modified_date
    </sql>

</mapper>
