<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minlia.module.i18n.mapper.I18nMapper">

    <sql id="QUERY_CONTENT">
        SELECT
            id ,
            appid ,
            code ,
            value,
            language ,
            locale ,
            create_by ,
            create_date ,
            last_modified_by ,
            last_modified_date
        FROM
            mdl_i18n
    </sql>

    <sql id="QUERY_CONDITION">
        <where>
            <if test="appid != null">
                AND appid = #{appid}
            </if>
            <if test="code != null">
                AND code = #{code}
            </if>
            <if test="locale != null">
                AND locale = #{locale}
            </if>
        </where>
    </sql>

    <sql id="ORDER_BY">
        <if test="sorts != null">
            ORDER BY
            <foreach collection="sorts" item="item" separator=",">
                ${item.filed} ${item.direction}
            </foreach>
        </if>
    </sql>

    <insert id="create">
        INSERT INTO mdl_i18n(
            appid ,
            code ,
            value,
            language ,
            locale ,
            create_by
        ) VALUES (
            #{appid},
            #{code},
            #{value},
            #{language},
            #{locale},
            #{createBy}
        )
    </insert>

    <update id="update">
        UPDATE mdl_i18n
        <set>
            <if test="appid != null">
                appid = #{appid},
            </if>
            <if test="code != null">
                code = #{code},
            </if>
            <if test="value != null">
                value = #{value},
            </if>
            <if test="language != null">
                language = #{language},
            </if>
            <if test="locale != null">
                locale = #{locale},
            </if>
            last_modified_by = #{lastModifiedBy,jdbcType=VARCHAR}
        </set>
    </update>

    <delete id="delete">
        DELETE FROM mdl_i18n where id = #{id}
    </delete>

    <select id="queryOne" resultType="com.minlia.module.i18n.entity.I18n">
        <include refid="QUERY_CONTENT"/>
        WHERE id = #{id}
    </select>

    <select id="queryList" resultType="com.minlia.module.i18n.entity.I18n">
        <include refid="QUERY_CONTENT"/>
        <include refid="QUERY_CONDITION"/>
        <include refid="ORDER_BY"/>
    </select>

    <select id="queryMap" resultMap="java.util.Map">
        SELECT code, value FROM mdl_i18n
        <include refid="QUERY_CONDITION"/>
    </select>

</mapper>