<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minlia.module.wallet.mapper.WalletMapper">

    <sql id="QUERY_CONTENT">
        SELECT
            mwt.id ,
            mwt.guid ,
            mwt.total_amount ,
            mwt.balance_amount ,
            mwt.frozen_amount ,
            mwt.withdraw_amount ,
            mwt.flow_amount ,
            mwt.create_by ,
            mwt.create_date ,
            mwt.last_modified_by ,
            mwt.last_modified_date
        FROM
            mdl_wallet mwt
	</sql>

    <insert id="create" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO mdl_wallet(
            guid,
            total_amount ,
            balance_amount ,
            frozen_amount ,
            withdraw_amount ,
            flow_amount ,
            create_by
		)
		VALUES
        (
            #{guid},
            #{totalAmount},
            #{balanceAmount},
            #{frozenAmount},
            #{withdrawAmount},
            #{flowAmount},
            #{createBy}
        )
	</insert>

    <update id="update">
        UPDATE mdl_wallet
        <set>
            <if test="guid != null">
                guid = #{guid} ,
            </if>
            <if test="totalAmount != null">
                total_amount = #{totalAmount} ,
            </if>
            <if test="balanceAmount != null">
                balance_amount = #{balanceAmount} ,
            </if>
            <if test="frozenAmount != null">
                frozen_amount = #{frozenAmount} ,
            </if>
            <if test="withdrawAmount != null">
                withdraw_amount = #{withdrawAmount} ,
            </if>
            <if test="flowAmount != null">
                flow_amount = #{flowAmount} ,
            </if>
            <if test="lastModifiedBy != null">
                last_modified_by = #{lastModifiedBy,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE guid = #{guid,jdbcType=VARCHAR}
    </update>

    <delete id="delete">
		DELETE FROM mdl_wallet WHERE id = #{id}
	</delete>

    <select id="queryByGuid" resultType="com.minlia.module.wallet.bean.entity.Wallet">
        <include refid="QUERY_CONTENT"/>
        where guid = #{guid}
    </select>

</mapper>