<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minlia.module.wallet.mapper.WalletHistoryMapper">

    <sql id="QUERY_CONTENT">
        SELECT
            mwht.id ,
            mwht.wallet_id ,
            mwht.operation_type ,
            mwht.amount ,
            mwht.desc ,
            mwht.create_by ,
            mwht.create_date ,
            mwht.last_modified_by ,
            mwht.last_modified_date
        FROM
            mdl_wallet_history mwht
	</sql>

    <insert id="create" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO mdl_wallet_history(
            wallet_id,
            operation_type ,
            amount ,
            `desc` ,
            create_by
		)
		VALUES(
            #{walletId},
            #{operationType},
            #{amount},
            #{desc},
            #{createBy}
        )
	</insert>

    <delete id="delete">
		DELETE FROM mdl_wallet_history WHERE id = #{id}
	</delete>

    <select id="queryByWalletId" resultType="com.minlia.module.wallet.bean.entity.WalletHistory">
        <include refid="QUERY_CONTENT"/>
        where mwht.wallet_id = #{walletId}
        order by mwht.create_date desc
    </select>

</mapper>