<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minlia.module.rebecca.role.mapper.SysRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.minlia.module.rebecca.role.entity.SysRoleEntity">
        <result column="id" property="id"/>
        <result column="create_by" property="createBy"/>
        <result column="create_date" property="createDate"/>
        <result column="last_modified_by" property="lastModifiedBy"/>
        <result column="last_modified_date" property="lastModifiedDate"/>
        <result column="parent_id" property="parentId"/>
        <result column="`code`" property="code"/>
        <result column="name" property="name"/>
        <result column="dp_type" property="dpType"/>
        <result column="dp_scope" property="dpScope"/>
        <result column="access_domain" property="accessDomain"/>
        <result column="remark" property="remark"/>
        <result column="dis_flag" property="disFlag"/>
        <result column="del_flag" property="delFlag"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_by,
        create_date,
        last_modified_by,
        last_modified_date,
        parent_id, `code`, `name`, dp_type, dp_scope, access_domain, remark, dis_flag, del_flag
    </sql>

    <select id="selectCodesByUserId" resultType="java.lang.String">
        SELECT sys_role.`code` FROM sys_role
        INNER JOIN sys_role_user ON sys_role_user.role_id = sys_role.id
        WHERE sys_role_user.user_id = #{uid}
    </select>

    <select id="selectIdsByUserId" resultType="java.lang.Long">
        SELECT sys_role.id FROM sys_role
        INNER JOIN sys_role_user ON sys_role_user.role_id = sys_role.id
        WHERE sys_role_user.user_id = #{uid}
    </select>

</mapper>
