<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minlia.module.sms.mapper.SmsRecordMapper">
    <resultMap id="BaseResultMap" type="com.minlia.module.sms.entity.SmsRecord">
        <!--@mbg.generated-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="appid" jdbcType="VARCHAR" property="appid"/>
        <result column="channel" jdbcType="VARCHAR" property="channel"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="to" jdbcType="VARCHAR" property="to"/>
        <result column="locale" jdbcType="VARCHAR" property="locale"/>
        <result column="subject" jdbcType="VARCHAR" property="subject"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="dis_flag" jdbcType="BOOLEAN" property="disFlag"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="last_modified_by" jdbcType="VARCHAR" property="lastModifiedBy"/>
        <result column="last_modified_date" jdbcType="TIMESTAMP" property="lastModifiedDate"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, appid, channel, code, `to`, `locale`, `subject`, content, remark, dis_flag, create_by,
        create_date, last_modified_by, last_modified_date
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from mdl_sms_record
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete from mdl_sms_record
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.minlia.module.sms.entity.SmsRecord"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into mdl_sms_record (appid, channel, code,
        `to`, `locale`, `subject`,
        content, remark, dis_flag,
        create_by, create_date, last_modified_by,
        last_modified_date)
        values (#{appid,jdbcType=VARCHAR}, #{channel,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR},
        #{to,jdbcType=VARCHAR}, #{locale,jdbcType=VARCHAR}, #{subject,jdbcType=VARCHAR},
        #{content,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{disFlag,jdbcType=BOOLEAN},
        #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{lastModifiedBy,jdbcType=VARCHAR},
        #{lastModifiedDate,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.minlia.module.sms.entity.SmsRecord"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into mdl_sms_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="appid != null">
                appid,
            </if>
            <if test="channel != null">
                channel,
            </if>
            <if test="code != null">
                `code`,
            </if>
            <if test="to != null">
                `to`,
            </if>
            <if test="locale != null">
                `locale`,
            </if>
            <if test="subject != null">
                `subject`,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="disFlag != null">
                dis_flag,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="lastModifiedBy != null">
                last_modified_by,
            </if>
            <if test="lastModifiedDate != null">
                last_modified_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="appid != null">
                #{appid,jdbcType=VARCHAR},
            </if>
            <if test="channel != null">
                #{channel,jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="to != null">
                #{to,jdbcType=VARCHAR},
            </if>
            <if test="locale != null">
                #{locale,jdbcType=VARCHAR},
            </if>
            <if test="subject != null">
                #{subject,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="disFlag != null">
                #{disFlag,jdbcType=BOOLEAN},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="lastModifiedBy != null">
                #{lastModifiedBy,jdbcType=VARCHAR},
            </if>
            <if test="lastModifiedDate != null">
                #{lastModifiedDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.minlia.module.sms.entity.SmsRecord">
        <!--@mbg.generated-->
        update mdl_sms_record
        <set>
            <if test="appid != null">
                appid = #{appid,jdbcType=VARCHAR},
            </if>
            <if test="channel != null">
                channel = #{channel,jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                `code` = #{code,jdbcType=VARCHAR},
            </if>
            <if test="to != null">
                `to` = #{to,jdbcType=VARCHAR},
            </if>
            <if test="locale != null">
                `locale` = #{locale,jdbcType=VARCHAR},
            </if>
            <if test="subject != null">
                `subject` = #{subject,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="disFlag != null">
                dis_flag = #{disFlag,jdbcType=BOOLEAN},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="lastModifiedBy != null">
                last_modified_by = #{lastModifiedBy,jdbcType=VARCHAR},
            </if>
            <if test="lastModifiedDate != null">
                last_modified_date = #{lastModifiedDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.minlia.module.sms.entity.SmsRecord">
        <!--@mbg.generated-->
        update mdl_sms_record
        set appid = #{appid,jdbcType=VARCHAR},
        channel = #{channel,jdbcType=VARCHAR},
        code = #{code,jdbcType=VARCHAR},
        `to` = #{to,jdbcType=VARCHAR},
        `locale` = #{locale,jdbcType=VARCHAR},
        `subject` = #{subject,jdbcType=VARCHAR},
        content = #{content,jdbcType=VARCHAR},
        remark = #{remark,jdbcType=VARCHAR},
        dis_flag = #{disFlag,jdbcType=BOOLEAN},
        create_by = #{createBy,jdbcType=VARCHAR},
        create_date = #{createDate,jdbcType=TIMESTAMP},
        last_modified_by = #{lastModifiedBy,jdbcType=VARCHAR},
        last_modified_date = #{lastModifiedDate,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>