<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minlia.module.article.mapper.SysArticleCommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.minlia.module.article.entity.SysArticleCommentEntity">
        <result column="id" property="id"/>
        <result column="article_id" property="articleId"/>
        <result column="operator" property="operator"/>
        <result column="time" property="time"/>
        <result column="content" property="content"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        article_id, operator, `time`, content
    </sql>

</mapper>
