<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minlia.module.article.mapper.ArticleCategoryMapper">
    <resultMap id="BaseResultMap" type="com.minlia.module.article.entity.ArticleCategory">
        <!--@mbg.generated-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="is_leaf" jdbcType="BOOLEAN" property="isLeaf"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="locale" jdbcType="VARCHAR" property="locale"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="dis_flag" jdbcType="BOOLEAN" property="disFlag"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="last_modified_by" jdbcType="VARCHAR" property="lastModifiedBy"/>
        <result column="last_modified_date" jdbcType="TIMESTAMP" property="lastModifiedDate"/>
    </resultMap>

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, is_leaf, parent_id, `code`, `name`, `locale`, remark, dis_flag, del_flag, create_by, create_date, last_modified_by, last_modified_date
    </sql>

    <sql id="BASE_CONDITION_LIST">
        <where>
            <if test="name != null">
                and `name`=#{name,jdbcType=VARCHAR}
            </if>
            <if test="code != null">
                and code=#{code,jdbcType=VARCHAR}
            </if>
            <if test="locale != null">
                and `locale`=#{locale,jdbcType=VARCHAR}
            </if>
            <if test="remark != null">
                and remark=#{remark,jdbcType=VARCHAR}
            </if>
            <if test="disFlag != null">
                and dis_flag=#{disFlag,jdbcType=BOOLEAN}
            </if>
            <if test="delFlag != null">
                and del_flag=#{delFlag,jdbcType=BOOLEAN}
            </if>
            <if test="createBy != null">
                and create_by=#{createBy,jdbcType=VARCHAR}
            </if>
            <if test="lastModifiedBy != null">
                and last_modified_by=#{lastModifiedBy,jdbcType=VARCHAR}
            </if>
            <if test="createDate != null">
                and create_date=#{createDate,jdbcType=TIMESTAMP}
            </if>
            <if test="lastModifiedDate != null">
                and last_modified_date=#{lastModifiedDate,jdbcType=TIMESTAMP}
            </if>
            <if test="parentId != null">
                and parent_id=#{parentId,jdbcType=BIGINT}
            </if>
            <if test="parentIdIsNull == true">
                and parent_id is null
            </if>
            <if test="isLeaf != null">
                and is_leaf=#{isLeaf,jdbcType=BOOLEAN}
            </if>
            <if test="id != null">
                and id=#{id,jdbcType=BIGINT}
            </if>
        </where>
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from mdl_article_category
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--@mbg.generated-->
        delete from mdl_article_category
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.minlia.module.article.entity.ArticleCategory" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into mdl_article_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="code != null">
                code,
            </if>
            <if test="name != null">
                `name`,
            </if>
            <if test="locale != null">
                `locale`,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="disFlag != null">
                dis_flag,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="lastModifiedBy != null">
                last_modified_by,
            </if>
            <if test="lastModifiedDate != null">
                last_modified_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="parentId != null">
                #{parentId,jdbcType=BIGINT},
            </if>
            <if test="code != null">
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="locale != null">
                #{locale,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="disFlag != null">
                #{disFlag,jdbcType=BOOLEAN},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=BOOLEAN},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="lastModifiedBy != null">
                #{lastModifiedBy,jdbcType=VARCHAR},
            </if>
            <if test="lastModifiedDate != null">
                #{lastModifiedDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.minlia.module.article.entity.ArticleCategory">
        <!--@mbg.generated-->
        update mdl_article_category
        <set>
            <if test="isLeaf != null">
                is_leaf = #{isLeaf,jdbcType=BOOLEAN},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=BIGINT},
            </if>
            <if test="code != null">
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="locale != null">
                `locale` = #{locale,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="disFlag != null">
                dis_flag = #{disFlag,jdbcType=BOOLEAN},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=BOOLEAN},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="lastModifiedBy != null">
                last_modified_by = #{lastModifiedBy,jdbcType=VARCHAR},
            </if>
            <if test="lastModifiedDate != null">
                last_modified_date = #{lastModifiedDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="queryArticleByCategoryId" resultType="com.minlia.module.article.vo.ArticleSimpleVO">
        SELECT id, `code`, title FROM mdl_article where category_id = #{id} AND del_flag = 0 AND dis_flag = 0 ORDER BY create_date DESC
    </select>

    <select id="countByAll" resultType="long">
        select COUNT(1)
        from mdl_article_category
        <include refid="BASE_CONDITION_LIST"/>
    </select>

    <!--auto generated by MybatisCodeHelper on 2019-10-09-->
    <select id="selectByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mdl_article_category
        <include refid="BASE_CONDITION_LIST"/>
    </select>

    <select id="selectParentIdById" resultType="java.lang.Long">
        SELECT parent_id FROM mdl_article_category WHERE id = #{id,jdbcType=BIGINT};
    </select>

</mapper>