<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minlia.module.article.mapper.ArticleCategoryMapper">

    <sql id="QUERY_CONTENT">
        SELECT
            id,
            name,
            code,
            notes,
            enabled,
            create_by,
            create_date,
            last_modified_by,
            last_modified_date
        FROM
            mdl_article_category
	</sql>

    <sql id="QUERY_CONDITION">
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="name != null">
                AND name = #{name}
            </if>
            <if test="code != null">
                AND code = #{code}
            </if>
            <if test="enabled != null">
                AND enabled = #{enabled}
            </if>
        </where>
    </sql>

    <sql id="ORDER_BY">
        <if test="sorts != null">
            ORDER BY
            <foreach collection="sorts" item="item" separator=",">
                ${item.filed} ${item.direction}
            </foreach>
        </if>
    </sql>

    <insert id="create" parameterType="com.minlia.module.article.bean.domain.ArticleCategory">
        INSERT INTO mdl_article_category(
            name ,
            code ,
            notes ,
            enabled ,
            create_by
        ) VALUES (
            #{name} ,
            #{code} ,
            #{notes} ,
            #{enabled} ,
            #{createBy}
        )
    </insert>

    <update id="update" parameterType="com.minlia.module.article.bean.domain.ArticleCategory">
        UPDATE mdl_article_category
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="notes != null">
                notes = #{notes} ,
            </if>
            <if test="enabled != null">
                enabled = #{enabled} ,
            </if>
            last_modified_by = #{lastModifiedBy,jdbcType=VARCHAR} ,
            last_modified_date = #{lastModifiedDate,jdbcType=TIMESTAMP}
        </set>
        WHERE id = #{id,jdbcType=BIGINT}
    </update>

    <delete id="delete">
        DELETE FROM mdl_article_category WHERE id = #{id}
    </delete>

    <select id="count" resultType="long">
        SELECT COUNT(1) FROM mdl_article_category
        <include refid="QUERY_CONDITION"/>
    </select>

    <resultMap id="categoryMap" type="com.minlia.module.article.bean.domain.ArticleCategory">
        <id column="id" property="id" />
        <collection property="articles" column="id" javaType="list" ofType="com.minlia.module.article.bean.vo.ArticleSimpleVO"
                    select="queryArticleByCategoryId" />
    </resultMap>

    <select id="queryArticleByCategoryId" resultType="com.minlia.module.article.bean.vo.ArticleSimpleVO">
        SELECT id,title FROM mdl_article where category_id = #{id} ORDER BY create_date DESC
    </select>

    <select id="one" resultMap="categoryMap">
        <include refid="QUERY_CONTENT"/>
        <include refid="QUERY_CONDITION"/>
    </select>

    <select id="list" resultMap="categoryMap">
        <include refid="QUERY_CONTENT"/>
        <include refid="QUERY_CONDITION"/>
        <include refid="ORDER_BY"/>
    </select>

</mapper>