<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minlia.module.article.mapper.ArticleLabelMapper">

    <sql id="QUERY_CONTENT">
        SELECT
            id,
            name,
            notes,
            enabled,
            create_by,
            create_date,
            last_modified_by,
            last_modified_date
        FROM
            mdl_article_label_t
	</sql>

    <sql id="QUERY_CONDITION">
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="name != null">
                AND name = #{name}
            </if>
            <if test="enabled != null">
                AND enabled = #{enabled}
            </if>
        </where>
    </sql>

    <insert id="create" parameterType="com.minlia.module.article.entity.ArticleLabel">
        INSERT INTO mdl_article_label_t(
            name ,
            notes ,
            enabled ,
            create_by
        ) VALUES (
            #{name} ,
            #{notes} ,
            #{enabled} ,
            #{createBy}
        )
    </insert>

    <update id="update" parameterType="com.minlia.module.article.entity.ArticleLabel">
        UPDATE mdl_article_label_t
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="notes != null">
                notes = #{notes} ,
            </if>
            <if test="enabled != null">
                enabled = #{enabled} ,
            </if>
            last_modified_by = #{lastModifiedBy,jdbcType=VARCHAR}
        </set>
        WHERE id = #{id,jdbcType=BIGINT}
    </update>

    <delete id="delete">
        DELETE FROM mdl_article_label_t WHERE id = #{id};
        DELETE FROM mdl_article_label_m where label_id = #{id};
    </delete>

    <select id="count" resultType="long">
        SELECT COUNT(1) FROM mdl_article_label_t
        <include refid="QUERY_CONDITION"/>
    </select>

    <select id="one" resultType="com.minlia.module.article.entity.ArticleLabel">
        <include refid="QUERY_CONTENT"/>
        <include refid="QUERY_CONDITION"/>
    </select>

    <select id="list" resultType="com.minlia.module.article.entity.ArticleLabel">
        <include refid="QUERY_CONTENT"/>
        <include refid="QUERY_CONDITION"/>
    </select>

</mapper>