<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minlia.module.article.mapper.ArticleMapper">

    <sql id="QUERY_CONTENT">
        SELECT
            mat.id,
            mat.category_id,
            mat.title,
            mat.content,
            mat.cover,
            mat.attribute1,
            mat.notes,
            mat.enabled,
            mat.create_by,
            mat.create_date,
            mat.last_modified_by,
            mat.last_modified_date
        FROM
            mdl_article mat
	</sql>

    <resultMap id="articleVOMap" type="com.minlia.module.article.bean.vo.ArticleVO">
        <id column="id" property="id" />
        <collection property="labelIds" column="id" javaType="ArrayList" ofType="java.lang.String" select="queryLabelIdList" />
        <collection property="labelNames" column="id" javaType="ArrayList" ofType="java.lang.String" select="queryLabelNameList" />
    </resultMap>

    <select id="queryLabelIdList" resultType="java.lang.Long">
        SELECT malt.id FROM mdl_article_label_t malt INNER JOIN mdl_article_label_m malm ON malm.label_id=malt.id WHERE malm.article_id=#{id}
    </select>

    <select id="queryLabelNameList" resultType="java.lang.String">
        SELECT malt.name FROM mdl_article_label_t malt INNER JOIN mdl_article_label_m malm ON malm.label_id=malt.id WHERE malm.article_id=#{id}
    </select>

    <sql id="QUERY_DETAIL_CONTENT">
        SELECT
            mat.id,
            mat.category_id,
            act.`name` AS categoryName,
            mat.title,
            mat.content,
            at.url AS cover,
            mat.attribute1,
            mat.notes,
            mat.enabled,
            mat.create_by,
            mat.create_date,
            mat.last_modified_by,
            mat.last_modified_date,
            (SELECT COUNT(1) FROM mdl_article_comment WHERE article_id=mat.id) AS commentCount,
            (SELECT COUNT(1) FROM mdl_article_praise WHERE article_id=mat.id AND choose=1) AS praiseCount,
            (SELECT COUNT(1) FROM mdl_article_collection WHERE article_id=mat.id) AS collectionCount,
            muit.avatar,
            muit.nickname
        FROM
            mdl_article mat
        INNER JOIN mdl_article_category act ON act.id = mat.category_id
        LEFT JOIN mdl_user_info muit ON muit.guid = mat.create_by
        LEFT JOIN mdl_attachment at ON at.relation_id = mat.id AND at.belongs_to = 'ARTICLE_COVER'
	</sql>

    <sql id="QUERY_CONDITION">
        <where>
            <if test="categoryId != null">
                mat.category_id = #{categoryId}
            </if>
            <if test="id != null">
                AND mat.id = #{id}
            </if>
            <if test="title != null">
                AND instr(mat.title, #{title}) > 0
            </if>
            <if test="keywords != null">
                AND instr(mat.title, #{title}) > 0
            </if>
            <if test="attribute1 != null">
                AND mat.attribute1 = #{attribute1}
            </if>
            <if test="enabled != null">
                AND mat.enabled = #{enabled}
            </if>
            <if test="labelId != null">
                AND EXISTS (SELECT 1 FROM mdl_article_label_m m WHERE m.article_id = mat.id AND m.label_id = #{labelId})
            </if>
        </where>
    </sql>

    <sql id="ORDER_BY">
        <if test="sorts != null">
            ORDER BY
            <foreach collection="sorts" item="item" separator=",">
                mat.${item.filed} ${item.direction}
            </foreach>
        </if>
    </sql>

    <insert id="create" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO mdl_article(
            category_id,
            title,
            content,
            cover,
            attribute1,
            notes,
            enabled,
            create_by
        ) VALUES (
            #{categoryId},
            #{title} ,
            #{content} ,
            #{cover} ,
            #{attribute1} ,
            #{notes} ,
            #{enabled} ,
            #{createBy}
        )
    </insert>

    <update id="update" parameterType="com.minlia.module.article.bean.domain.Article">
        UPDATE mdl_article
        <set>
            <if test="categoryId != null">
                category_id = #{categoryId},
            </if>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="cover != null">
                cover = #{cover},
            </if>
            <if test="attribute1 != null">
                attribute1 = #{attribute1} ,
            </if>
            <if test="notes != null">
                notes = #{notes} ,
            </if>
            <if test="enabled != null">
                enabled = #{enabled} ,
            </if>
            last_modified_by = #{lastModifiedBy,jdbcType=VARCHAR} ,
            last_modified_date = #{lastModifiedDate,jdbcType=TIMESTAMP}
        </set>
        WHERE id = #{id,jdbcType=BIGINT}
    </update>

    <delete id="delete">
        DELETE FROM mdl_article WHERE id = #{id}
    </delete>

    <insert id="setLabels">
        DELETE FROM mdl_article_label_m where article_id = #{articleId};
        INSERT INTO mdl_article_label_m (
            article_id,
            label_id
        ) VALUES
        <foreach collection="labelIds" item="item" separator=",">
        (
            #{articleId},
            #{item}
        )
        </foreach>
    </insert>

    <select id="queryById" resultType="com.minlia.module.article.bean.domain.Article">
        <include refid="QUERY_CONTENT"/>
        WHERE mat.id = #{id}
    </select>

    <select id="count" resultType="long">
        SELECT COUNT(1) FROM mdl_article mat
        <include refid="QUERY_CONDITION"/>
    </select>

    <select id="one" resultType="com.minlia.module.article.bean.domain.Article">
        <include refid="QUERY_CONTENT"/>
        <include refid="QUERY_CONDITION"/>
    </select>

    <select id="list" resultType="com.minlia.module.article.bean.domain.Article">
        <include refid="QUERY_CONTENT"/>
        <include refid="QUERY_CONDITION"/>
        <include refid="ORDER_BY"/>
    </select>

    <select id="oneVO" resultMap="articleVOMap">
        <include refid="QUERY_DETAIL_CONTENT"/>
        <include refid="QUERY_CONDITION"/>
    </select>

    <select id="listVO" resultMap="articleVOMap">
        <include refid="QUERY_DETAIL_CONTENT"/>
        <include refid="QUERY_CONDITION"/>
        <include refid="ORDER_BY"/>
    </select>

</mapper>