<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minlia.module.article.mapper.SysArticleCommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.minlia.module.article.entity.SysArticleCommentEntity">
        <result column="id" property="id"/>
        <result column="article_id" property="articleId"/>
        <result column="operator" property="operator"/>
        <result column="time" property="time"/>
        <result column="content" property="content"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , article_id, operator, `time`, content
    </sql>

    <select id="selectDetailsPage" resultType="com.minlia.module.article.bean.vo.ArticleCommentVO">
        SELECT sat.id, sat.article_id, sat.content, sat.time, sut.id AS uid, sut.avatar, sut.nickname
        from sys_article_comment sat
        INNER JOIN sys_user sut ON sut.id = sat.operator
        <where>
            <if test="qro.operator != null">
                and sat.operator = #{qro.operator}
            </if>
            <if test="qro.articleId != null">
                and sat.article_id = #{qro.articleId}
            </if>
        </where>
    </select>

</mapper>