<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minlia.module.richtext.mapper.RichtextMapper">

    <sql id="QUERY_CONTENT">
        SELECT
            id ,
            type ,
            code ,
            locale ,
            title ,
            content ,
            dis_flag,
            remark ,
            create_by ,
            create_date ,
            last_modified_by ,
            last_modified_date
        FROM mdl_richtext
    </sql>

    <sql id="QUERY_CONDITION">
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="type != null">
                AND type = #{type}
            </if>
            <if test="code != null">
                AND code = #{code}
            </if>
            <if test="locale != null">
                AND locale = #{locale}
            </if>
            <if test="disFlag != null">
                AND dis_flag = #{disFlag}
            </if>
            <if test="title != null">
                AND instr(title,#{title}) > 0
            </if>
        </where>
    </sql>

    <sql id="ORDER_BY">
        <if test="sorts != null">
            ORDER BY
            <foreach collection="sorts" item="item" separator=",">
                ${item.filed} ${item.direction}
            </foreach>
        </if>
    </sql>

    <insert id="create">
        INSERT INTO mdl_richtext(
            type ,
            code ,
            locale ,
            title ,
            content ,
            remark ,
            dis_flag ,
            create_by
        )
        VALUES (
            #{type} ,
            #{code} ,
            #{locale} ,
            #{title} ,
            #{content} ,
            #{remark} ,
            #{disFlag} ,
            #{createBy}
        )
    </insert>

    <update id="update" parameterType="com.minlia.module.richtext.entity.Richtext">
        UPDATE mdl_richtext
        <set>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="code != null">
                code = #{code},
            </if>
            <if test="locale != null">
                locale = #{locale},
            </if>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
            <if test="disFlag != null">
                dis_flag = #{disFlag},
            </if>
            last_modified_by = #{lastModifiedBy,jdbcType=VARCHAR}
        </set>
        WHERE id = #{id,jdbcType=BIGINT}
    </update>

    <delete id="delete">
        DELETE FROM mdl_richtext WHERE id = #{id}
    </delete>

    <select id="count" resultType="long">
        SELECT COUNT(1) FROM mdl_richtext
        <include refid="QUERY_CONDITION"/>
    </select>

    <select id="queryById" resultType="com.minlia.module.richtext.entity.Richtext">
        <include refid="QUERY_CONTENT"/>
        WHERE id = #{id,jdbcType=BIGINT}
    </select>

    <select id="queryByCode" resultType="com.minlia.module.richtext.entity.Richtext">
        <include refid="QUERY_CONTENT"/>
        WHERE code = #{code,jdbcType=BIGINT}
    </select>

    <select id="queryOne" resultType="com.minlia.module.richtext.entity.Richtext">
        <include refid="QUERY_CONTENT"/>
        <include refid="QUERY_CONDITION"/>
    </select>

    <select id="queryList" resultType="com.minlia.module.richtext.entity.Richtext">
        <include refid="QUERY_CONTENT"/>
        <include refid="QUERY_CONDITION"/>
        <include refid="ORDER_BY"/>
    </select>

</mapper>