<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minlia.module.email.mapper.EmailMapper">

    <sql id="QUERY_CONTENT">
		SELECT
			id,
            number,
            name,
            icon
		FROM
			mdl_bank
	</sql>

    <sql id="QUERY_CONDITION">
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="number != null">
                AND number = #{number}
            </if>
            <if test="name != null">
                AND name = #{name}
            </if>
        </where>
    </sql>

    <insert id="create" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO mdl_bank(
			number,
            name,
            icon
		)
		VALUES
        (
            #{number,jdbcType=VARCHAR},
            #{name,jdbcType=VARCHAR},
            #{icon,jdbcType=VARCHAR}
        )
	</insert>

    <update id="update">
        UPDATE mdl_bank
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR} ,
            </if>
            <if test="icon != null">
                icon = #{icon,jdbcType=VARCHAR} ,
            </if>
        </set>
        WHERE id = #{id,jdbcType=TINYINT}
    </update>

    <delete id="delete">
		DELETE FROM mdl_bank WHERE number = #{number}
	</delete>

    <select id="count" resultType="java.lang.Long">
        SELECT COUNT(1) FROM mdl_bank
        <include refid="QUERY_CONDITION"/>
    </select>

    <select id="one" resultType="com.minlia.module.email.bean.domain.EmailRecord">
        <include refid="QUERY_CONTENT"/>
        <include refid="QUERY_CONDITION"/>
    </select>

    <select id="list" resultType="com.minlia.module.email.bean.domain.EmailRecord">
        <include refid="QUERY_CONTENT"/>
        <include refid="QUERY_CONDITION"/>
    </select>

</mapper>