<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minlia.module.ad.mapper.AdMapper">

    <sql id="QUERY_CONTENT">
        SELECT
            madt.id ,
            madt.parent_id ,
            madt.name ,
            mat.url AS cover,
            madt.type ,
            madt.path ,
            madt.notes ,
            madt.enabled ,
            attribute1,
            attribute2,
            attribute3,
            attribute4,
            attribute5,
            madt.create_by ,
            madt.create_date ,
            madt.last_modified_by ,
            madt.last_modified_date
        FROM
            mdl_advertisement madt
        LEFT JOIN mdl_attachment mat ON mat.relation_id = madt.id AND mat.belongs_to = 'AD_COVER'
	</sql>

    <sql id="QUERY_CONDITION">
        <where>
            <if test="parentId != null">
                madt.parent_id = #{parentId}
            </if>
            <if test="name != null">
                AND madt.name = #{name}
            </if>
            <if test="type != null">
                AND madt.type = #{type}
            </if>
            <if test="enabled != null">
                AND madt.enabled = #{enabled}
            </if>
            <if test="attribute1 != null">
                AND attribute1 = #{attribute1}
            </if>
            <if test="attribute2 != null">
                AND attribute2 = #{attribute2}
            </if>
            <if test="attribute3 != null">
                AND attribute3 = #{attribute3}
            </if>
            <if test="attribute4 != null">
                AND attribute4 = #{attribute4}
            </if>
            <if test="attribute5 != null">
                AND attribute5 = #{attribute5}
            </if>
        </where>
    </sql>

    <insert id="create" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO mdl_advertisement(
            parent_id,
            name,
            cover,
            type,
            path,
            notes,
            enabled,
            attribute1,
            attribute2,
            attribute3,
            attribute4,
            attribute5,
            create_by
        ) VALUES (
            #{parentId},
            #{name} ,
            #{cover} ,
            #{type} ,
            #{path} ,
            #{notes} ,
            #{enabled} ,
            #{attribute1} ,
            #{attribute2} ,
            #{attribute3} ,
            #{attribute4} ,
            #{attribute5} ,
            #{createBy}
        )
    </insert>

    <update id="update" parameterType="com.minlia.module.ad.bean.entity.Advertisement">
        UPDATE mdl_advertisement
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="cover != null">
                cover = #{cover},
            </if>
            <if test="type != null">
                type = #{type} ,
            </if>
            <if test="path != null">
                path = #{path} ,
            </if>
            <if test="notes != null">
                notes = #{notes} ,
            </if>
            <if test="enabled != null">
                enabled = #{enabled} ,
            </if>
            <if test="attribute1 != null">
                attribute1 = #{attribute1} ,
            </if>
            <if test="attribute2 != null">
                attribute2 = #{attribute2} ,
            </if>
            <if test="attribute3 != null">
                attribute3 = #{attribute3} ,
            </if>
            <if test="attribute4 != null">
                attribute4 = #{attribute4} ,
            </if>
            <if test="attribute5 != null">
                attribute5 = #{attribute5} ,
            </if>
            last_modified_by = #{lastModifiedBy,jdbcType=VARCHAR}
        </set>
        WHERE id = #{id,jdbcType=BIGINT}
    </update>

    <delete id="delete">
        DELETE FROM mdl_advertisement WHERE id = #{id}
    </delete>

    <select id="queryById" resultType="com.minlia.module.ad.bean.entity.Advertisement">
        <include refid="QUERY_CONTENT"/>
        WHERE madt.id = #{id}
    </select>

    <select id="count" resultType="long">
        SELECT COUNT(1) FROM mdl_advertisement madt
        <include refid="QUERY_CONDITION"/>
    </select>

    <select id="one" resultType="com.minlia.module.ad.bean.entity.Advertisement">
        <include refid="QUERY_CONTENT"/>
        <include refid="QUERY_CONDITION"/>
    </select>

    <select id="list" resultType="com.minlia.module.ad.bean.entity.Advertisement">
        <include refid="QUERY_CONTENT"/>
        <include refid="QUERY_CONDITION"/>
    </select>

</mapper>