<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minlia.module.advertisement.mapper.AdvertisementsMapper">

    <sql id="QUERY_CONTENT">
        SELECT
            id ,
            name ,
            platform ,
            position ,
            aspect_ratio ,
            notes ,
            enabled ,
            create_by ,
            create_date ,
            last_modified_by ,
            last_modified_date
        FROM
            mdl_advertisements
	</sql>

    <sql id="QUERY_CONDITION">
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="name != null">
                AND name = #{name}
            </if>
            <if test="platform != null">
                AND platform = #{platform}
            </if>
            <if test="position != null">
                AND position = #{position}
            </if>
            <if test="enabled != null">
                AND enabled = #{enabled}
            </if>
        </where>
    </sql>

    <insert id="create" parameterType="com.minlia.module.advertisement.bean.domain.Advertisements">
        INSERT INTO mdl_advertisements(
            name ,
            platform ,
            position ,
            aspect_ratio ,
            notes ,
            enabled ,
            create_by
        ) VALUES (
            #{name} ,
            #{platform} ,
            #{position} ,
            #{aspectRatio} ,
            #{notes} ,
            #{enabled} ,
            #{createBy}
        )
    </insert>

    <update id="update" parameterType="com.minlia.module.advertisement.bean.domain.Advertisements">
        UPDATE mdl_advertisements
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="platform != null">
                platform = #{platform},
            </if>
            <if test="position != null">
                position = #{position} ,
            </if>
            <if test="aspectRatio != null">
                aspect_ratio = #{aspectRatio} ,
            </if>
            <if test="notes != null">
                notes = #{notes} ,
            </if>
            <if test="enabled != null">
                enabled = #{enabled} ,
            </if>
            last_modified_by = #{lastModifiedBy,jdbcType=VARCHAR} ,
            last_modified_date = #{lastModifiedDate,jdbcType=TIMESTAMP}
        </set>
        WHERE id = #{id,jdbcType=BIGINT}
    </update>

    <delete id="delete">
        DELETE FROM mdl_advertisements WHERE id = #{id}
    </delete>

    <select id="queryById" resultType="com.minlia.module.advertisement.bean.domain.Advertisements">
        <include refid="QUERY_CONTENT"/>
        WHERE id = #{id}
    </select>

    <select id="count" resultType="long">
        SELECT COUNT(1) FROM mdl_advertisements
        <include refid="QUERY_CONDITION"/>
    </select>

    <select id="one" resultType="com.minlia.module.advertisement.bean.domain.Advertisements">
        <include refid="QUERY_CONTENT"/>
        <include refid="QUERY_CONDITION"/>
    </select>

    <select id="list" resultType="com.minlia.module.advertisement.bean.domain.Advertisements">
        <include refid="QUERY_CONTENT"/>
        <include refid="QUERY_CONDITION"/>
        ORDER BY create_date DESC
    </select>

</mapper>