<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minlia.module.attachment.mapper.SysAttachmentRelationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.minlia.module.attachment.entity.SysAttachmentRelationEntity">
        <result column="id" property="id" />
        <result column="relation_to" property="relationTo" />
        <result column="relation_id" property="relationId" />
        <result column="url" property="url" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        relation_to, relation_id, url
    </sql>

</mapper>
