<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minlia.module.aliyun.dypls.mapper.DyplsbindMapper">

    <sql id="QUERY_CONTENT">
		SELECT
			id ,
			pool_key ,
			subs_id ,
			secret_no ,
			phone_no_a ,
            phone_no_b ,
            expire_time ,
            out_id ,
			create_date ,
			create_by ,
			last_modified_date ,
			last_modified_by
		FROM minlia_aliyun_dypls
	</sql>

    <sql id="QUERY_CONDITION">
        <where>
            <if test="poolKey != null">
                AND pool_key = #{poolKey}
            </if>
            <if test="subsId != null">
                AND subs_id = #{subsId}
            </if>
            <if test="secretNo != null">
                AND secret_no = #{secretNo}
            </if>
            <if test="phoneNoA != null">
                AND phone_no_a = #{phoneNoA}
            </if>
        </where>
    </sql>

    <insert id="create">
		INSERT INTO minlia_aliyun_dypls(
			pool_key ,
			subs_id ,
			secret_no ,
			phone_no_a ,
            phone_no_b ,
            expire_time ,
            out_id ,
			create_by
		)
		VALUES
		(
			#{poolKey} ,
			#{subsId} ,
			#{secretNo} ,
			#{phoneNoA} ,
			#{phoneNoB} ,
			#{expireTime} ,
			#{outId} ,
			#{createBy}
		)
	</insert>

    <update id="update" parameterType="com.minlia.module.aliyun.dypls.entity.DyplsBind">
        UPDATE minlia_aliyun_dypls
        <set>
            <if test="value != null">
                value = #{value},
            </if>
            <if test="notes != null">
                notes = #{notes},
            </if>
            last_modified_by = #{lastModifiedBy,jdbcType=VARCHAR} ,
            last_modified_date = #{lastModifiedDate,jdbcType=TIMESTAMP}
        </set>
        WHERE id = #{id,jdbcType=BIGINT}
    </update>

    <delete id="delete">
		DELETE FROM minlia_aliyun_dypls WHERE id = #{id}
	</delete>

    <delete id="deleteBySecretNo">
		DELETE FROM minlia_aliyun_dypls WHERE secret_no = #{secretNo}
	</delete>

    <select id="queryById" resultType="com.minlia.module.aliyun.dypls.entity.DyplsBind">
        <include refid="QUERY_CONTENT"/>
        WHERE id = #{id,jdbcType=BIGINT}
    </select>

    <select id="queryOne" resultType="com.minlia.module.aliyun.dypls.entity.DyplsBind">
        <include refid="QUERY_CONTENT"/>
        <include refid="QUERY_CONDITION"/>
    </select>

    <select id="queryList" resultType="com.minlia.module.aliyun.dypls.entity.DyplsBind">
        <include refid="QUERY_CONTENT"/>
        <include refid="QUERY_CONDITION"/>
    </select>

    <select id="queryAll" resultType="com.minlia.module.aliyun.dypls.entity.DyplsBind">
        <include refid="QUERY_CONTENT"/>
    </select>

</mapper>