<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minlia.modules.rbac.backend.permission.mapper.PermissionMapper">

	<sql id="LIMIT">limit #{pageSize} offset #{offset}</sql>

	<sql id="QUERY_CONTENT">
		SELECT
			ut.guid ,
			ut.username ,
			ut.password ,
			ut.cellphone ,
			ut.email ,
			ut.credentials_expired AS credentialsExpired ,
			ut.expired ,
			ut.locked ,
			ut.lock_limit AS lockLimit,
			ut.lock_time AS lockTime,
			ut.last_login_time AS lastLoginTime,
			ut.last_login_ip AS lastLoginIp,
			ut.referee ,
			ut.create_date AS createDate ,
			ut.create_by AS createBy ,
			ut.last_modified_date AS lastModifiedDate ,
			ut.last_modified_by AS lastModifiedBy ,
			ut.enabled
		FROM
			minlia_user ut
	</sql>

	<sql id="QUERY_CONDITION">
		WHERE 1=1
		<if test="username != null">
			AND username = #{username,jdbcType=VARCHAR},
		</if>
		<if test="cellphone != null">
			AND cellphone = #{cellphone,jdbcType=VARCHAR},
		</if>
		<if test="email != null">
			AND email = #{email,jdbcType=VARCHAR},
		</if>
		<if test="referee != null">
			AND referee = #{referee,jdbcType=VARCHAR},
		</if>
		<if test="expired != null">
			AND expired = #{expired,jdbcType=TINYINT},
		</if>
		<if test="locked != null">
			AND locked = #{locked,jdbcType=TINYINT},
		</if>
		<if test="enabled != null">
			AND enabled = #{enabled,jdbcType=TINYINT},
		</if>
	</sql>

	<insert id="create" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO minlia_user(
			guid ,
			username ,
			password ,
			cellphone ,
			email ,
			referee
		)
		VALUES
			(
				#{guid,jdbcType=VARCHAR},
				#{username,jdbcType=VARCHAR},
				#{password,jdbcType=VARCHAR},
				#{cellphone,jdbcType=VARCHAR},
				#{email,jdbcType=VARCHAR},
				#{referee,jdbcType=VARCHAR}
			)
	</insert>

	<update id="update" parameterType="com.minlia.modules.rbac.backend.permission.entity.Permission">
		UPDATE minlia_user
		SET
		<if test="code != null">
			code = #{code,jdbcType=VARCHAR} ,
		</if>
		<if test="used != null">
			used = #{used,jdbcType=TINYINT} ,
		</if>
		<if test="locked != null">
			locked = #{locked,jdbcType=TINYINT} ,
		</if>
		<if test="failureCount != null">
			failure_count = #{failureCount,jdbcType=TINYINT} ,
		</if>
		<if test="failureCount != null">
			effective_time = #{effectiveTime,jdbcType=TIMESTAMP} ,
		</if>
			last_modified_date = #{lastModifiedDate,jdbcType=TIMESTAMP}
		WHERE id = #{id,jdbcType=BIGINT}
	</update>

	<delete id="deleteById">
		DELETE FROM minlia_user WHERE id = #{id}
	</delete>

	<select id="queryByCellphone" resultType="com.minlia.modules.rbac.backend.permission.entity.Permission">
		<include refid="QUERY_CONTENT" />
		WHERE cellphone = #{cellphone,jdbcType=VARCHAR}
	</select>

	<select id="queryAll" resultType="com.minlia.modules.rbac.backend.permission.entity.Permission">
		<include refid="QUERY_CONTENT" />
	</select>

	<select id="queryOne" resultType="com.minlia.modules.rbac.backend.permission.entity.Permission">
		<include refid="QUERY_CONTENT" />
		<include refid="QUERY_CONDITION" />
	</select>

	<select id="queryList" resultType="com.minlia.modules.rbac.backend.permission.entity.Permission">
		<include refid="QUERY_CONTENT" />
		<include refid="QUERY_CONDITION" />
	</select>

	<select id="queryPaginated" resultType="com.minlia.modules.rbac.backend.permission.entity.Permission">
		<include refid="QUERY_CONTENT" />
		<include refid="QUERY_CONDITION" />
		<include refid="LIMIT" />
	</select>

	<select id="count_queryPaginated" resultType="int">
		SELECT COUNT(1) FROM minlia_user ut
		<include refid="QUERY_CONDITION" />
	</select>

</mapper>