<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minlia.module.realname.mapper.SysRealNameMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.minlia.module.realname.entity.SysRealNameEntity">
        <id column="id" property="id" />
        <result column="uid" property="uid" />
        <result column="name" property="name" />
        <result column="id_number" property="idNumber" />
        <result column="status" property="status" />
        <result column="reason" property="reason" />
        <result column="front_photo" property="frontPhoto" />
        <result column="reverse_photo" property="reversePhoto" />
        <result column="hold_photo" property="holdPhoto" />
        <result column="create_by" property="createBy" />
        <result column="create_date" property="createDate" />
        <result column="last_modified_by" property="lastModifiedBy" />
        <result column="last_modified_date" property="lastModifiedDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, uid, `name`, id_number, status, reason, front_photo, reverse_photo, hold_photo, create_by, create_date, last_modified_by, last_modified_date
    </sql>

</mapper>
