<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minlia.modules.tencent.cloud.auth.mapper.FaceIdRecordMapper">

    <sql id="QUERY_CONTENT">
		SELECT
			id ,
			order_no ,
			name ,
			id_no ,
			user_id ,
			is_auth ,
			create_date ,
			create_by ,
			last_modified_date ,
			last_modified_by
		FROM minlia_faceid_record
	</sql>

    <sql id="QUERY_CONDITION">
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="orderNo != null">
                AND order_no = #{orderNo}
            </if>
            <if test="userId != null">
                AND user_id = #{userId}
            </if>
            <if test="idNo != null">
                AND id_no = #{idNo}
            </if>
            <if test="isAuth != null">
                AND is_auth = #{isAuth}
            </if>
        </where>
    </sql>

    <insert id="create">
		INSERT INTO minlia_faceid_record(
			order_no ,
            name ,
            id_no ,
            user_id ,
            is_auth ,
			create_by
		)
		VALUES
		(
			#{orderNo} ,
			#{name} ,
			#{idNo} ,
			#{userId} ,
			#{isAuth} ,
			#{createBy}
		)
	</insert>

    <update id="update" parameterType="com.minlia.modules.tencent.cloud.auth.entity.FaceIdRecord">
        UPDATE minlia_faceid_record
        <set>
            <if test="isAuth != null">
                is_auth = #{isAuth},
            </if>
            last_modified_by = #{lastModifiedBy,jdbcType=VARCHAR} ,
            last_modified_date = #{lastModifiedDate,jdbcType=TIMESTAMP}
        </set>
        WHERE id = #{id,jdbcType=BIGINT}
    </update>

    <delete id="delete">
		DELETE FROM minlia_faceid_record WHERE id = #{id}
	</delete>

    <select id="count" resultType="com.minlia.modules.tencent.cloud.auth.entity.FaceIdRecord">
        SELECT COUNT(1) FROM minlia_faceid_record
        <include refid="QUERY_CONDITION"/>
    </select>

    <select id="queryById" resultType="com.minlia.modules.tencent.cloud.auth.entity.FaceIdRecord">
        <include refid="QUERY_CONTENT"/>
        WHERE id = #{id,jdbcType=BIGINT}
    </select>

    <select id="queryLastByUserId" resultType="com.minlia.modules.tencent.cloud.auth.entity.FaceIdRecord">
        <include refid="QUERY_CONTENT"/>
        WHERE user_id = #{userId} order by create_date desc limit 0,1;
    </select>

    <select id="queryAll" resultType="com.minlia.modules.tencent.cloud.auth.entity.FaceIdRecord">
        <include refid="QUERY_CONTENT"/>
    </select>

    <select id="queryOne" resultType="com.minlia.modules.tencent.cloud.auth.entity.FaceIdRecord">
        <include refid="QUERY_CONTENT"/>
        <include refid="QUERY_CONDITION"/>
    </select>

    <select id="queryList" resultType="com.minlia.modules.tencent.cloud.auth.entity.FaceIdRecord">
        <include refid="QUERY_CONTENT"/>
        <include refid="QUERY_CONDITION"/>
    </select>

</mapper>