<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minlia.module.rebecca.user.mapper.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.minlia.module.rebecca.user.entity.SysUserEntity">
        <result column="id" property="id" />
        <result column="create_by" property="createBy" />
        <result column="create_date" property="createDate" />
        <result column="last_modified_by" property="lastModifiedBy" />
        <result column="last_modified_date" property="lastModifiedDate" />
        <result column="org_id" property="orgId" />
        <result column="username" property="username" />
        <result column="cellphone" property="cellphone" />
        <result column="email" property="email" />
        <result column="nickname" property="nickname" />
        <result column="password" property="password" />
        <result column="avatar" property="avatar" />
        <result column="account_effective_date" property="accountEffectiveDate" />
        <result column="credentials_effective_date" property="credentialsEffectiveDate" />
        <result column="default_role" property="defaultRole" />
        <result column="default_locale" property="defaultLocale" />
        <result column="status" property="status" />
        <result column="last_login_time" property="lastLoginTime" />
        <result column="last_login_ip" property="lastLoginIp" />
        <result column="referral" property="referral" />
        <result column="lock_limit" property="lockLimit" />
        <result column="lock_time" property="lockTime" />
        <result column="lock_flag" property="lockFlag" />
        <result column="dis_flag" property="disFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_by,
        create_date,
        last_modified_by,
        last_modified_date,
        org_id, username, cellphone, email, nickname, password, avatar, account_effective_date, credentials_effective_date, default_role, default_locale, status, last_login_time, last_login_ip, referral, lock_limit, lock_time, lock_flag, dis_flag
    </sql>

</mapper>
