<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minlia.module.rebecca.user.mapper.SysUserRelationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.minlia.module.rebecca.user.entity.SysUserRelationEntity">
        <id column="ancestor" property="ancestor" />
        <result column="descendant" property="descendant" />
        <result column="level" property="level" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ancestor, descendant, level
    </sql>

    <select id="detailsPage" resultType="com.minlia.module.rebecca.user.bean.SysUserRelationVo">
        SELECT
            sut.cellphone,
            sut.nickname,
            sut.avatar,
            sut.create_date AS 'time',
            smt.real_name
        FROM
            sys_user_relation surt
        INNER JOIN sys_user sut ON sut.id = surt.descendant
        INNER JOIN sys_member smt ON smt.uid = sut.id
        <where>
            surt.ancestor = #{qro.ancestor}
            <if test="qro.realName != null">
                AND smt.real_name = #{qro.realName}
            </if>
            AND surt.`level` = 1
        </where>
    </select>

</mapper>
