<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minlia.module.email.mapper.EmailRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.minlia.module.email.entity.EmailRecordEntity">
        <result column="id" property="id"/>
        <result column="create_by" property="createBy"/>
        <result column="create_date" property="createDate"/>
        <result column="last_modified_by" property="lastModifiedBy"/>
        <result column="last_modified_date" property="lastModifiedDate"/>
        <result column="appid" property="appid"/>
        <result column="channel" property="channel"/>
        <result column="template_code" property="templateCode"/>
        <result column="send_to" property="sendTo"/>
        <result column="send_cc" property="sendCc"/>
        <result column="send_bcc" property="sendBcc"/>
        <result column="locale" property="locale"/>
        <result column="subject" property="subject"/>
        <result column="content" property="content"/>
        <result column="remark" property="remark"/>
        <result column="success_flag" property="successFlag"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_by,
        create_date,
        last_modified_by,
        last_modified_date,
        appid, channel, template_code, send_to, send_cc, send_bcc, locale, subject, content, remark, success_flag
    </sql>

</mapper>
