<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minlia.module.bible.mapper.BibleMapper">

    <sql id="QUERY_CONTENT">
		SELECT
			mbt.id ,
			mbt.code ,
			mbt.value ,
			mbt.notes ,
			mbt.create_by ,
			mbt.create_date ,
			mbt.last_modified_by,
			mbt.last_modified_date
		FROM mdl_bible mbt
	</sql>

    <sql id="QUERY_CONDITION">
        <where>
            <if test="code != null">
                AND mbt.code = #{code}
            </if>
        </where>
    </sql>

    <sql id="ORDER_BY">
        <if test="sorts != null">
            ORDER BY
            <foreach collection="sorts" item="item" separator=",">
                mbt.${item.filed} ${item.direction}
            </foreach>
        </if>
    </sql>

    <insert id="create">
		INSERT INTO mdl_bible(
			code ,
			value ,
			notes ,
			create_by
		)
		VALUES
		(
			#{code} ,
			#{value} ,
			#{notes} ,
			#{createBy}
		)
	</insert>

    <update id="update" parameterType="com.minlia.module.bible.bean.domain.Bible">
        UPDATE mdl_bible
        <set>
            <if test="value != null">
                value = #{value},
            </if>
            <if test="notes != null">
                notes = #{notes},
            </if>
            last_modified_by = #{lastModifiedBy,jdbcType=VARCHAR}
        </set>
        WHERE id = #{id,jdbcType=BIGINT}
    </update>

    <delete id="delete">
		DELETE FROM mdl_bible WHERE id = #{id}
	</delete>

    <select id="queryById" resultType="com.minlia.module.bible.bean.domain.Bible">
        <include refid="QUERY_CONTENT"/>
        WHERE mbt.id = #{id,jdbcType=BIGINT}
    </select>

    <select id="queryByCode" resultType="com.minlia.module.bible.bean.domain.Bible">
        <include refid="QUERY_CONTENT"/>
        WHERE mbt.code = #{code,jdbcType=VARCHAR}
    </select>

    <select id="queryOne" resultType="com.minlia.module.bible.bean.domain.Bible">
        <include refid="QUERY_CONTENT"/>
        <include refid="QUERY_CONDITION"/>
    </select>

    <select id="queryList" resultType="com.minlia.module.bible.bean.domain.Bible">
        <include refid="QUERY_CONTENT"/>
        <include refid="QUERY_CONDITION"/>
        <include refid="ORDER_BY"/>
    </select>

</mapper>