<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minlia.module.article.mapper.ArticleLabelRelationMapper">
    <sql id="Base_Column_List">
        article_id,
        label_id
    </sql>

    <resultMap id="BaseResultMap" type="com.minlia.module.article.entity.ArticleLabelRelation">
        <!--@mbg.generated-->
        <result column="article_id" jdbcType="BIGINT" property="articleId"/>
        <result column="label_id" jdbcType="BIGINT" property="labelId"/>
    </resultMap>

    <insert id="insertSelective" parameterType="com.minlia.module.article.entity.ArticleLabelRelation">
        <!--@mbg.generated-->
        insert into mdl_article_label_relation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="articleId != null">
                article_id,
            </if>
            <if test="labelId != null">
                label_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="articleId != null">
                #{articleId,jdbcType=BIGINT},
            </if>
            <if test="labelId != null">
                #{labelId,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>

    <insert id="insertBatch">
        DELETE FROM mdl_article_label_relation where article_id = #{articleId};
        INSERT INTO mdl_article_label_relation (
            article_id,
            label_id
        ) VALUES
        <foreach collection="labelIds" item="item" separator=",">
            (
            #{articleId},
            #{item}
            )
        </foreach>
    </insert>


    <!--auto generated by MybatisCodeHelper on 2019-10-09-->
    <delete id="deleteByArticleId">
        delete from  mdl_article_label_relation
        where article_id=#{articleId,jdbcType=BIGINT}
    </delete>

    <!--auto generated by MybatisCodeHelper on 2019-10-09-->
    <delete id="deleteByLabelId">
        delete from  mdl_article_label_relation
        where label_id=#{labelId,jdbcType=BIGINT}
    </delete>

</mapper>