<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minlia.module.riskcontrol.mapper.RiskRecordMapper">
    <resultMap id="BaseResultMap" type="com.minlia.module.riskcontrol.entity.RiskRecord">
        <!--@mbg.generated-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="event_id" jdbcType="VARCHAR" property="eventId"/>
        <result column="event_details" jdbcType="VARCHAR" property="eventDetails"/>
        <result column="scene" jdbcType="VARCHAR" property="scene"/>
        <result column="level" jdbcType="INTEGER" property="level"/>
        <result column="rule" jdbcType="VARCHAR" property="rule"/>
        <result column="score" jdbcType="INTEGER" property="score"/>
        <result column="time" jdbcType="TIMESTAMP" property="time"/>
        <result column="details" jdbcType="VARCHAR" property="details"/>
        <result column="date_time" jdbcType="TIMESTAMP" property="dateTime"/>
        <result column="guid" jdbcType="INTEGER" property="guid"/>
        <result column="ip" jdbcType="INTEGER" property="ip"/>
        <result column="scene_value" jdbcType="VARCHAR" property="sceneValue"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, event_id, event_details, scene, `level`, `rule`, score, `time`, details, date_time,
        guid, ip, scene_value
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from mdl_risk_record
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--@mbg.generated-->
        delete from mdl_risk_record
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.minlia.module.riskcontrol.entity.RiskRecord" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into mdl_risk_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="eventId != null">
                event_id,
            </if>
            <if test="eventDetails != null">
                event_details,
            </if>
            <if test="scene != null">
                scene,
            </if>
            <if test="level != null">
                `level`,
            </if>
            <if test="rule != null">
                `rule`,
            </if>
            <if test="score != null">
                score,
            </if>
            <if test="time != null">
                `time`,
            </if>
            <if test="details != null">
                details,
            </if>
            <if test="dateTime != null">
                date_time,
            </if>
            <if test="guid != null">
                guid,
            </if>
            <if test="ip != null">
                ip,
            </if>
            <if test="sceneValue != null">
                scene_value,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="eventId != null">
                #{eventId,jdbcType=VARCHAR},
            </if>
            <if test="eventDetails != null">
                #{eventDetails,jdbcType=VARCHAR},
            </if>
            <if test="scene != null">
                #{scene,jdbcType=VARCHAR},
            </if>
            <if test="level != null">
                #{level,jdbcType=INTEGER},
            </if>
            <if test="rule != null">
                #{rule,jdbcType=VARCHAR},
            </if>
            <if test="score != null">
                #{score,jdbcType=INTEGER},
            </if>
            <if test="time != null">
                #{time,jdbcType=TIMESTAMP},
            </if>
            <if test="details != null">
                #{details,jdbcType=VARCHAR},
            </if>
            <if test="dateTime != null">
                #{dateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="guid != null">
                #{guid,jdbcType=INTEGER},
            </if>
            <if test="ip != null">
                #{ip,jdbcType=INTEGER},
            </if>
            <if test="sceneValue != null">
                #{sceneValue,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.minlia.module.riskcontrol.entity.RiskRecord">
        <!--@mbg.generated-->
        update mdl_risk_record
        <set>
            <if test="eventId != null">
                event_id = #{eventId,jdbcType=VARCHAR},
            </if>
            <if test="eventDetails != null">
                event_details = #{eventDetails,jdbcType=VARCHAR},
            </if>
            <if test="scene != null">
                scene = #{scene,jdbcType=VARCHAR},
            </if>
            <if test="level != null">
                `level` = #{level,jdbcType=INTEGER},
            </if>
            <if test="rule != null">
                `rule` = #{rule,jdbcType=VARCHAR},
            </if>
            <if test="score != null">
                score = #{score,jdbcType=INTEGER},
            </if>
            <if test="time != null">
                `time` = #{time,jdbcType=TIMESTAMP},
            </if>
            <if test="details != null">
                details = #{details,jdbcType=VARCHAR},
            </if>
            <if test="dateTime != null">
                date_time = #{dateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="guid != null">
                guid = #{guid,jdbcType=INTEGER},
            </if>
            <if test="ip != null">
                ip = #{ip,jdbcType=INTEGER},
            </if>
            <if test="sceneValue != null">
                scene_value = #{sceneValue,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <!--auto generated by MybatisCodeHelper on 2019-07-12-->
    <select id="selectByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mdl_risk_record
        where 1=1
        <if test="id != null">
            and id=#{id,jdbcType=BIGINT}
        </if>
        <if test="eventId != null">
            and event_id=#{eventId,jdbcType=VARCHAR}
        </if>
        <if test="scene != null">
            and scene=#{scene,jdbcType=VARCHAR}
        </if>
        <if test="sceneValue != null">
            and scene_value=#{sceneValue,jdbcType=VARCHAR}
        </if>
        <if test="level != null">
            and `level`=#{level,jdbcType=INTEGER}
        </if>
        <if test="score != null">
            and score=#{score,jdbcType=INTEGER}
        </if>
        <if test="ip != null">
            and ip=#{ip,jdbcType=INTEGER}
        </if>
        <if test="dateTime != null">
            and date_time=#{dateTime,jdbcType=TIMESTAMP}
        </if>
        <if test="details != null">
            and details=#{details,jdbcType=VARCHAR}
        </if>
        <if test="guid != null">
            and guid=#{guid,jdbcType=INTEGER}
        </if>
        <if test="eventDetails != null">
            and event_details=#{eventDetails,jdbcType=VARCHAR}
        </if>

        <if test="eqDate != null">
            and DATEDIFF(date_time, #{eqDate,jdbcType=TIMESTAMP}) = 0
        </if>

    </select>


</mapper>