<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minlia.module.riskcontrol.mapper.RiskBlackUrlMapper">
    <resultMap id="BaseResultMap" type="com.minlia.module.riskcontrol.entity.RiskBlackUrl">
        <!--@mbg.generated-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="value" jdbcType="VARCHAR" property="value"/>
        <result column="time" jdbcType="TIMESTAMP" property="time"/>
        <result column="detail" jdbcType="VARCHAR" property="detail"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `type`, `value`, `time`, detail
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from mdl_risk_black_url
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--@mbg.generated-->
        delete from mdl_risk_black_url
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.minlia.module.riskcontrol.entity.RiskBlackUrl" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into mdl_risk_black_url
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="type != null">
                `type`,
            </if>
            <if test="value != null">
                `value`,
            </if>
            <if test="time != null">
                `time`,
            </if>
            <if test="detail != null">
                detail,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="value != null">
                #{value,jdbcType=VARCHAR},
            </if>
            <if test="time != null">
                #{time,jdbcType=TIMESTAMP},
            </if>
            <if test="detail != null">
                #{detail,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.minlia.module.riskcontrol.entity.RiskBlackUrl">
        <!--@mbg.generated-->
        update mdl_risk_black_url
        <set>
            <if test="type != null">
                `type` = #{type,jdbcType=VARCHAR},
            </if>
            <if test="value != null">
                `value` = #{value,jdbcType=VARCHAR},
            </if>
            <if test="time != null">
                `time` = #{time,jdbcType=TIMESTAMP},
            </if>
            <if test="detail != null">
                detail = #{detail,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <!--auto generated by MybatisCodeHelper on 2019-07-11-->
    <select id="selectByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mdl_risk_black_url
        where 1=1
        <if test="id != null">
            and id=#{id,jdbcType=BIGINT}
        </if>
        <if test="type != null">
            and `type`=#{type,jdbcType=VARCHAR}
        </if>
        <if test="value != null">
            and `value`=#{value,jdbcType=VARCHAR}
        </if>
        <if test="time != null">
            and `time`=#{time,jdbcType=TIMESTAMP}
        </if>
        <if test="detail != null">
            and detail=#{detail,jdbcType=VARCHAR}
        </if>
    </select>
</mapper>