<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minlia.module.riskcontrol.mapper.RiskIpListMapper">
    <resultMap id="BaseResultMap" type="com.minlia.module.riskcontrol.entity.RiskIpList">
        <!--@mbg.generated-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="country" jdbcType="VARCHAR" property="country"/>
        <result column="start" jdbcType="BIGINT" property="start"/>
        <result column="end" jdbcType="BIGINT" property="end"/>
        <result column="time" jdbcType="TIMESTAMP" property="time"/>
        <result column="dis_flag" jdbcType="BOOLEAN" property="disFlag"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `type`, country, `start`, `end`, `time`, dis_flag
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from mdl_risk_ip_list
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--@mbg.generated-->
        delete from mdl_risk_ip_list
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.minlia.module.riskcontrol.entity.RiskIpList" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into mdl_risk_ip_list
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="type != null">
                `type`,
            </if>
            <if test="country != null">
                country,
            </if>
            <if test="start != null">
                `start`,
            </if>
            <if test="end != null">
                `end`,
            </if>
            <if test="time != null">
                `time`,
            </if>
            <if test="disFlag != null">
                dis_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="country != null">
                #{country,jdbcType=VARCHAR},
            </if>
            <if test="start != null">
                #{start,jdbcType=BIGINT},
            </if>
            <if test="end != null">
                #{end,jdbcType=BIGINT},
            </if>
            <if test="time != null">
                #{time,jdbcType=TIMESTAMP},
            </if>
            <if test="disFlag != null">
                #{disFlag,jdbcType=BOOLEAN},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.minlia.module.riskcontrol.entity.RiskIpList">
        <!--@mbg.generated-->
        update mdl_risk_ip_list
        <set>
            <if test="type != null">
                `type` = #{type,jdbcType=VARCHAR},
            </if>
            <if test="country != null">
                country = #{country,jdbcType=VARCHAR},
            </if>
            <if test="start != null">
                `start` = #{start,jdbcType=BIGINT},
            </if>
            <if test="end != null">
                `end` = #{end,jdbcType=BIGINT},
            </if>
            <if test="time != null">
                `time` = #{time,jdbcType=TIMESTAMP},
            </if>
            <if test="disFlag != null">
                dis_flag = #{disFlag,jdbcType=BOOLEAN},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <!--auto generated by MybatisCodeHelper on 2019-07-12-->
    <select id="selectByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mdl_risk_ip_list
        where 1=1
        <if test="id != null">
            and id=#{id,jdbcType=BIGINT}
        </if>
        <if test="type != null">
            and `type`=#{type,jdbcType=VARCHAR}
        </if>
        <if test="country != null">
            and country=#{country,jdbcType=VARCHAR}
        </if>
        <if test="start != null">
            and `start`=#{start,jdbcType=BIGINT}
        </if>
        <if test="end != null">
            and `end`=#{end,jdbcType=BIGINT}
        </if>
        <if test="time != null">
            and `time`=#{time,jdbcType=TIMESTAMP}
        </if>
        <if test="disFlag != null">
            and dis_flag=#{disFlag,jdbcType=BOOLEAN}
        </if>
    </select>
</mapper>