<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minlia.module.bank.mapper.BankcodeMapper">

    <sql id="QUERY_CONTENT1">
		SELECT
			id,
            province,
            city,
            district,
            street,
            address,
            bankname,
            branchname,
            number,
            phone,
            lat,
            lng
		FROM
			mdl_bank_code
	</sql>

    <sql id="QUERY_CONTENT">
		SELECT
            id ,
            province ,
            city ,
            bankname ,
            branchname ,
            number
        FROM
            mdl_bank_code1
	</sql>

    <sql id="QUERY_CONDITION">
        <where>
            <if test="province != null">
                AND province = #{province}
            </if>
            <if test="city != null">
                AND city = #{city}
            </if>
            <if test="district != null">
                AND district = #{district}
            </if>
            <if test="street != null">
                AND street = #{street}
            </if>
            <if test="bankname != null">
                AND bankname = #{bankname}
            </if>
            <if test="branchname != null">
                AND branchname = #{branchname}
            </if>
            <if test="number != null">
                AND number = #{number}
            </if>
        </where>
    </sql>

    <insert id="create" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO mdl_bank_code(
			province,
            city,
            district,
            street,
            address,
            bankname,
            branchname,
            number,
            phone,
            lat,
            lng
		)
		VALUES
        (
            #{province,jdbcType=VARCHAR},
            #{city,jdbcType=VARCHAR},
            #{district,jdbcType=VARCHAR},
            #{street,jdbcType=VARCHAR},
            #{address,jdbcType=VARCHAR},
            #{bankname,jdbcType=VARCHAR},
            #{branchname,jdbcType=VARCHAR},
            #{number,jdbcType=VARCHAR},
            #{phone,jdbcType=VARCHAR},
            #{lat,jdbcType=VARCHAR},
            #{lng,jdbcType=VARCHAR}
        )
	</insert>

    <update id="update">
        UPDATE mdl_bank_code
        <set>
            <if test="guid != null">
                guid = #{guid,jdbcType=VARCHAR} ,
            </if>
            <if test="type != null">
                type = #{type,jdbcType=VARCHAR} ,
            </if>
            last_modified_by = #{lastModifiedBy,jdbcType=VARCHAR} ,
            last_modified_date = #{lastModifiedDate,jdbcType=TIMESTAMP}
        </set>
        WHERE id = #{id,jdbcType=TINYINT}
    </update>

    <delete id="delete">
		DELETE FROM mdl_bank_code WHERE number = #{number}
	</delete>

    <select id="queryByNumber" resultType="com.minlia.module.bank.domain.BankcodeDo">
        <include refid="QUERY_CONTENT"/>
        WHERE number = #{number}
    </select>

    <select id="count" resultType="java.lang.Long">
        SELECT COUNT(1) FROM mdl_bank_code1
        <include refid="QUERY_CONDITION"/>
    </select>

    <select id="queryOne" resultType="com.minlia.module.bank.domain.BankcodeDo">
        <include refid="QUERY_CONTENT"/>
        <include refid="QUERY_CONDITION"/>
    </select>

    <select id="queryList" resultType="com.minlia.module.bank.domain.BankcodeDo">
        <include refid="QUERY_CONTENT"/>
        <include refid="QUERY_CONDITION"/>
    </select>

</mapper>