<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minlia.modules.rebecca.menu.mapper.MenuMapper">
    <resultMap id="BaseResultMap" type="com.minlia.modules.rebecca.menu.entity.Menu">
        <!--@mbg.generated-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="text" jdbcType="VARCHAR" property="text"/>
        <result column="i18n" jdbcType="VARCHAR" property="i18n"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="link" jdbcType="VARCHAR" property="link"/>
        <result column="sort" jdbcType="TINYINT" property="sort"/>
        <result column="reuse_flag" jdbcType="BOOLEAN" property="reuseFlag"/>
        <result column="shortcut_flag" jdbcType="BOOLEAN" property="shortcutFlag"/>
        <result column="hide_flag" jdbcType="BOOLEAN" property="hideFlag"/>
        <result column="hide_in_breadcrumb_flag" jdbcType="BOOLEAN" property="hideInBreadcrumbFlag"/>
        <result column="dis_flag" jdbcType="BOOLEAN" property="disFlag"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="last_modified_by" jdbcType="VARCHAR" property="lastModifiedBy"/>
        <result column="last_modified_date" jdbcType="TIMESTAMP" property="lastModifiedDate"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, parent_id, `type`, `text`, i18n, icon, link, sort, reuse_flag, shortcut_flag,
        hide_flag, hide_in_breadcrumb_flag, dis_flag, create_by, create_date, last_modified_by,
        last_modified_date
    </sql>

    <sql id="Base_Condition_List">
        <where>
            <if test="parentId != null">
                and parent_id=#{parentId,jdbcType=BIGINT}
            </if>
            <if test="type != null">
                and `type`=#{type,jdbcType=VARCHAR}
            </if>
            <if test="text != null">
                and `text`=#{text,jdbcType=VARCHAR}
            </if>
            <if test="i18n != null">
                and i18n=#{i18n,jdbcType=VARCHAR}
            </if>
            <if test="icon != null">
                and icon=#{icon,jdbcType=VARCHAR}
            </if>
            <if test="link != null">
                and link=#{link,jdbcType=VARCHAR}
            </if>
            <if test="sort != null">
                and sort=#{sort,jdbcType=TINYINT}
            </if>
            <if test="reuseFlag != null">
                and reuse_flag=#{reuseFlag,jdbcType=BOOLEAN}
            </if>
            <if test="shortcutFlag != null">
                and shortcut_flag=#{shortcutFlag,jdbcType=BOOLEAN}
            </if>
            <if test="hideFlag != null">
                and hide_flag=#{hideFlag,jdbcType=BOOLEAN}
            </if>
            <if test="hideInBreadcrumbFlag != null">
                and hide_in_breadcrumb_flag=#{hideInBreadcrumbFlag,jdbcType=BOOLEAN}
            </if>
            <if test="disFlag != null">
                and dis_flag=#{disFlag,jdbcType=BOOLEAN}
            </if>
            <if test="createBy != null">
                and create_by=#{createBy,jdbcType=VARCHAR}
            </if>
            <if test="lastModifiedBy != null">
                and last_modified_by=#{lastModifiedBy,jdbcType=VARCHAR}
            </if>
            <if test="createDate != null">
                and create_date=#{createDate,jdbcType=TIMESTAMP}
            </if>
            <if test="lastModifiedDate != null">
                and last_modified_date=#{lastModifiedDate,jdbcType=TIMESTAMP}
            </if>
            <if test="id != null">
                and id=#{id,jdbcType=BIGINT}
            </if>

            <if test="isOneLevel == true">
                AND parent_id IS NULL
            </if>
            <if test="roleId != null">
                AND EXISTS (SELECT 1 FROM mdl_role_menu mrmt WHERE mrmt.role_id = #{roleId,jdbcType=TINYINT} AND mrmt.menu_id = mnt.id)
            </if>
        </where>
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from mdl_menu
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--@mbg.generated-->
        delete from mdl_menu
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.minlia.modules.rebecca.menu.entity.Menu"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into mdl_menu (parent_id, `type`, `text`,
        i18n, icon, link, sort,
        reuse_flag, shortcut_flag, hide_flag,
        hide_in_breadcrumb_flag, dis_flag, create_by,
        create_date, last_modified_by, last_modified_date
        )
        values (#{parentId,jdbcType=BIGINT}, #{type,jdbcType=VARCHAR}, #{text,jdbcType=VARCHAR},
        #{i18n,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR}, #{link,jdbcType=VARCHAR}, #{sort,jdbcType=TINYINT},
        #{reuseFlag,jdbcType=BOOLEAN}, #{shortcutFlag,jdbcType=BOOLEAN}, #{hideFlag,jdbcType=BOOLEAN},
        #{hideInBreadcrumbFlag,jdbcType=BOOLEAN}, #{disFlag,jdbcType=BOOLEAN}, #{createBy,jdbcType=VARCHAR},
        #{createDate,jdbcType=TIMESTAMP}, #{lastModifiedBy,jdbcType=VARCHAR}, #{lastModifiedDate,jdbcType=TIMESTAMP}
        )
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.minlia.modules.rebecca.menu.entity.Menu" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into mdl_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="type != null">
                `type`,
            </if>
            <if test="text != null">
                `text`,
            </if>
            <if test="i18n != null">
                i18n,
            </if>
            <if test="icon != null">
                icon,
            </if>
            <if test="link != null">
                link,
            </if>
            <if test="sort != null">
                sort,
            </if>
            <if test="reuseFlag != null">
                reuse_flag,
            </if>
            <if test="shortcutFlag != null">
                shortcut_flag,
            </if>
            <if test="hideFlag != null">
                hide_flag,
            </if>
            <if test="hideInBreadcrumbFlag != null">
                hide_in_breadcrumb_flag,
            </if>
            <if test="disFlag != null">
                dis_flag,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="lastModifiedBy != null">
                last_modified_by,
            </if>
            <if test="lastModifiedDate != null">
                last_modified_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="parentId != null">
                #{parentId,jdbcType=BIGINT},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="text != null">
                #{text,jdbcType=VARCHAR},
            </if>
            <if test="i18n != null">
                #{i18n,jdbcType=VARCHAR},
            </if>
            <if test="icon != null">
                #{icon,jdbcType=VARCHAR},
            </if>
            <if test="link != null">
                #{link,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=TINYINT},
            </if>
            <if test="reuseFlag != null">
                #{reuseFlag,jdbcType=BOOLEAN},
            </if>
            <if test="shortcutFlag != null">
                #{shortcutFlag,jdbcType=BOOLEAN},
            </if>
            <if test="hideFlag != null">
                #{hideFlag,jdbcType=BOOLEAN},
            </if>
            <if test="hideInBreadcrumbFlag != null">
                #{hideInBreadcrumbFlag,jdbcType=BOOLEAN},
            </if>
            <if test="disFlag != null">
                #{disFlag,jdbcType=BOOLEAN},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="lastModifiedBy != null">
                #{lastModifiedBy,jdbcType=VARCHAR},
            </if>
            <if test="lastModifiedDate != null">
                #{lastModifiedDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.minlia.modules.rebecca.menu.entity.Menu">
        <!--@mbg.generated-->
        update mdl_menu
        <set>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=BIGINT},
            </if>
            <if test="type != null">
                `type` = #{type,jdbcType=VARCHAR},
            </if>
            <if test="text != null">
                `text` = #{text,jdbcType=VARCHAR},
            </if>
            <if test="i18n != null">
                i18n = #{i18n,jdbcType=VARCHAR},
            </if>
            <if test="icon != null">
                icon = #{icon,jdbcType=VARCHAR},
            </if>
            <if test="link != null">
                link = #{link,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=TINYINT},
            </if>
            <if test="reuseFlag != null">
                reuse_flag = #{reuseFlag,jdbcType=BOOLEAN},
            </if>
            <if test="shortcutFlag != null">
                shortcut_flag = #{shortcutFlag,jdbcType=BOOLEAN},
            </if>
            <if test="hideFlag != null">
                hide_flag = #{hideFlag,jdbcType=BOOLEAN},
            </if>
            <if test="hideInBreadcrumbFlag != null">
                hide_in_breadcrumb_flag = #{hideInBreadcrumbFlag,jdbcType=BOOLEAN},
            </if>
            <if test="disFlag != null">
                dis_flag = #{disFlag,jdbcType=BOOLEAN},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="lastModifiedBy != null">
                last_modified_by = #{lastModifiedBy,jdbcType=VARCHAR},
            </if>
            <if test="lastModifiedDate != null">
                last_modified_date = #{lastModifiedDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.minlia.modules.rebecca.menu.entity.Menu">
        <!--@mbg.generated-->
        update mdl_menu
        set parent_id = #{parentId,jdbcType=BIGINT},
        `type` = #{type,jdbcType=VARCHAR},
        `text` = #{text,jdbcType=VARCHAR},
        i18n = #{i18n,jdbcType=VARCHAR},
        icon = #{icon,jdbcType=VARCHAR},
        link = #{link,jdbcType=VARCHAR},
        sort = #{sort,jdbcType=TINYINT},
        reuse_flag = #{reuseFlag,jdbcType=BOOLEAN},
        shortcut_flag = #{shortcutFlag,jdbcType=BOOLEAN},
        hide_flag = #{hideFlag,jdbcType=BOOLEAN},
        hide_in_breadcrumb_flag = #{hideInBreadcrumbFlag,jdbcType=BOOLEAN},
        dis_flag = #{disFlag,jdbcType=BOOLEAN},
        create_by = #{createBy,jdbcType=VARCHAR},
        create_date = #{createDate,jdbcType=TIMESTAMP},
        last_modified_by = #{lastModifiedBy,jdbcType=VARCHAR},
        last_modified_date = #{lastModifiedDate,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <!--auto generated by MybatisCodeHelper on 2019-05-22-->
    <select id="countById" resultType="java.lang.Long">
        select count(1)
        from mdl_menu
        where id=#{id,jdbcType=BIGINT}
    </select>

    <!--auto generated by MybatisCodeHelper on 2019-05-22-->
    <select id="countByParentId" resultType="java.lang.Long">
        select count(1)
        from mdl_menu
        where parent_id=#{parentId,jdbcType=BIGINT}
    </select>

    <!--auto generated by MybatisCodeHelper on 2019-05-22-->
    <update id="updateTypeById">
        update mdl_menu
        set `type`=#{updatedType,jdbcType=VARCHAR}
        where id=#{id,jdbcType=BIGINT}
    </update>

    <delete id="clearByRoleId">
        DELETE FROM mdl_role_menu WHERE role_id = #{roleId}
    </delete>

    <insert id="grant">
        DELETE FROM mdl_role_menu where role_id = #{arg0};

        INSERT INTO mdl_role_menu(
        role_id ,
        menu_id
        )
        VALUES
        <foreach collection="arg1" item="item" index="index" separator=",">
            (
            #{arg0,jdbcType=BIGINT} ,
            #{item,jdbcType=SMALLINT}
            )
        </foreach>
        ;
    </insert>

    <!--auto generated by MybatisCodeHelper on 2019-05-22-->
    <select id="selectByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mdl_menu
        <include refid="Base_Condition_List"/>
    </select>

    <select id="countByAll" resultType="java.lang.Long">
        select count(1)
        from mdl_menu
        <include refid="Base_Condition_List"/>
    </select>

</mapper>