<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minlia.modules.rebecca.mapper.NavigationMapper">

    <sql id="QUERY_CONTENT">
		SELECT
            mnt.id ,
            mnt.type ,
            mnt.name ,
            mnt.icon ,
            mnt.state ,
            mnt.orders ,
            mnt.parent_id ,
            mnt.display,
			mnt.create_by  ,
			mnt.create_date  ,
			mnt.last_modified_by,
			mnt.last_modified_date
		FROM
			mdl_navigation mnt
	</sql>

    <sql id="QUERY_CONDITION">
        <where>
            <if test="id != null">
                AND mnt.id = #{id,jdbcType=SMALLINT}
            </if>
            <if test="parentId != null">
                AND mnt.parent_id = #{parentId,jdbcType=SMALLINT}
            </if>
            <if test="isOneLevel == true">
                AND mnt.parent_id IS NULL
            </if>
            <if test="name != null">
                AND mnt.name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="type != null">
                AND mnt.type = #{type,jdbcType=VARCHAR}
            </if>
            <if test="display != null">
                AND mnt.display = #{display,jdbcType=TINYINT}
            </if>
            <if test="roleId != null">
                AND EXISTS (SELECT 1 FROM mdl_role_navigation mrnm WHERE mrnm.role_id = #{roleId,jdbcType=TINYINT} AND mrnm.navigation_id = mnt.id)
            </if>
        </where>
    </sql>

    <sql id="ORDER_BY">
        <if test="sortsStr == null">
            ORDER BY orders ASC
        </if>
    </sql>

    <insert id="create" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO mdl_navigation(
            type ,
            name ,
            icon ,
            state ,
            orders ,
            parent_id,
            display,
            create_by
        ) VALUES (
            #{type,jdbcType=VARCHAR} ,
            #{name,jdbcType=VARCHAR} ,
            #{icon,jdbcType=VARCHAR} ,
            #{state,jdbcType=VARCHAR} ,
            #{orders,jdbcType=TINYINT} ,
            #{parentId,jdbcType=SMALLINT},
            #{display,jdbcType=TINYINT},
            #{createBy,jdbcType=VARCHAR}
        )
	</insert>

    <update id="update" parameterType="com.minlia.modules.rebecca.bean.domain.Navigation">
        UPDATE mdl_navigation
        SET
        <if test="type != null">
            type = #{type,jdbcType=VARCHAR} ,
        </if>
        <if test="name != null">
            name = #{name,jdbcType=VARCHAR} ,
        </if>
        <if test="icon != null">
            icon = #{icon,jdbcType=VARCHAR} ,
        </if>
        <if test="state != null">
            state = #{state,jdbcType=VARCHAR} ,
        </if>
        <if test="orders != null">
            orders = #{orders,jdbcType=TINYINT} ,
        </if>
        <if test="parentId != null">
            parent_id = #{parentId,jdbcType=TINYINT} ,
        </if>
        <if test="display != null">
            display = #{display,jdbcType=TINYINT} ,
        </if>
            last_modified_by = #{lastModifiedBy,jdbcType=VARCHAR}
        WHERE id = #{id,jdbcType=SMALLINT}
    </update>

    <update id="updateType">
        UPDATE mdl_navigation
        SET
            type = #{type,jdbcType=VARCHAR} ,
            last_modified_date = SYSDATE()
        WHERE id = #{id,jdbcType=SMALLINT}
    </update>

    <update id="display">
        UPDATE mdl_navigation
        SET
            display = #{arg1,jdbcType=TINYINT} ,
            last_modified_date = SYSDATE()
        WHERE id = #{arg0,jdbcType=SMALLINT}
    </update>

    <delete id="delete">
        DELETE FROM mdl_navigation where id = #{id};
    </delete>

    <insert id="grant">
        INSERT INTO mdl_role_navigation(
            role_id ,
            navigation_id
        )
        VALUES
        <foreach collection="ids" item="item" index="index" separator=",">
            (
            #{roleId,jdbcType=BIGINT} ,
            #{item,jdbcType=SMALLINT}
            )
        </foreach>
        ;
    </insert>

    <select id="count" resultType="long">
        SELECT COUNT(1) FROM mdl_navigation mnt
        <include refid="QUERY_CONDITION"/>
    </select>

    <select id="queryById" resultType="com.minlia.modules.rebecca.bean.domain.Navigation">
        <include refid="QUERY_CONTENT"/>
        WHERE mnt.id = #{id}
    </select>

    <select id="queryList" resultType="com.minlia.modules.rebecca.bean.domain.Navigation">
        <include refid="QUERY_CONTENT"/>
        <include refid="QUERY_CONDITION"/>
        <include refid="ORDER_BY"/>
    </select>

    <select id="queryMyNavigationList" resultType="com.minlia.modules.rebecca.bean.vo.MyNavigationVO">
        <include refid="QUERY_CONTENT"/>
        <include refid="QUERY_CONDITION"/>
        <include refid="ORDER_BY"/>
    </select>

    <delete id="clear">
        DELETE FROM mdl_role_navigation WHERE role_id = #{roleId}
    </delete>

    <delete id="deleteMappingById">
        DELETE FROM mdl_role_navigation where navigation_id = #{id};
    </delete>

</mapper>