<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minlia.modules.rebecca.mapper.OrganizationRelationMapper">

    <sql id="Base_Column_List">
        ancestor,
        descendant
    </sql>

    <resultMap id="BaseResultMap" type="com.minlia.modules.rebecca.bean.domain.OrganizationRelation">
        <!--@mbg.generated-->
        <id column="ancestor" jdbcType="INTEGER" property="ancestor"/>
        <id column="descendant" jdbcType="INTEGER" property="descendant"/>
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="map">
        <!--@mbg.generated-->
        delete from mdl_organization_relation
        where ancestor = #{ancestor,jdbcType=INTEGER}
        and descendant = #{descendant,jdbcType=INTEGER}
    </delete>
    <insert id="insertSelective" parameterType="com.minlia.modules.rebecca.bean.domain.OrganizationRelation">
        <!--@mbg.generated-->
        insert into mdl_organization_relation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ancestor != null">
                ancestor,
            </if>
            <if test="descendant != null">
                descendant,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ancestor != null">
                #{ancestor,jdbcType=INTEGER},
            </if>
            <if test="descendant != null">
                #{descendant,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <!--auto generated by MybatisCodeHelper on 2019-08-12-->
    <select id="selectByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mdl_organization_relation
        where 1=1
        <if test="ancestor != null">
            and ancestor=#{ancestor,jdbcType=INTEGER}
        </if>
        <if test="descendant != null">
            and descendant=#{descendant,jdbcType=INTEGER}
        </if>
    </select>

    <!--auto generated by MybatisCodeHelper on 2019-08-12-->
    <delete id="deleteByDescendant">
        delete from  mdl_organization_relation
        where descendant=#{descendant,jdbcType=INTEGER}
    </delete>

    <!--auto generated by MybatisCodeHelper on 2019-08-12-->
    <select id="selectDescendantByAncestor" resultType="java.lang.Long">
        select descendant
        from mdl_organization_relation
        where ancestor=#{ancestor,jdbcType=INTEGER}
    </select>

    <!--auto generated by MybatisCodeHelper on 2019-08-12-->
    <delete id="deleteByAncestor">
        delete from  mdl_organization_relation
        where ancestor=#{ancestor,jdbcType=INTEGER}
    </delete>

    <!--auto generated by MybatisCodeHelper on 2019-08-12-->
    <select id="selectAllByAncestor" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mdl_organization_relation
        where ancestor=#{ancestor,jdbcType=INTEGER}
    </select>

    <!--auto generated by MybatisCodeHelper on 2019-08-12-->
    <select id="selectAllByDescendant" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mdl_organization_relation
        where descendant=#{descendant,jdbcType=INTEGER}
    </select>

    <delete id="deleteByBatchAncestors">
        delete from mdl_organization_relation
        where ancestor in
        <foreach collection="ancestors" item="ancestor" open="(" separator="," close=")">
            #{ancestor,jdbcType=INTEGER}
        </foreach>
    </delete>

    <delete id="deleteByBatchDescendants">
        delete from mdl_organization_relation
        where descendant in
        <foreach collection="descendants" item="descendant" open="(" separator="," close=")">
            #{descendant,jdbcType=INTEGER}
        </foreach>
    </delete>
</mapper>