<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minlia.modules.rebecca.mapper.UserHistoryMapper">
    <resultMap id="BaseResultMap" type="com.minlia.modules.rebecca.bean.domain.UserHistory">
        <!--@mbg.generated-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="update_type" jdbcType="VARCHAR" property="updateType"/>
        <result column="guid" jdbcType="BIGINT" property="guid"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="cellphone" jdbcType="VARCHAR" property="cellphone"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="default_role" jdbcType="VARCHAR" property="defaultRole"/>
        <result column="default_locale" jdbcType="VARCHAR" property="defaultLocale"/>
        <result column="account_effective_date" jdbcType="TIMESTAMP" property="accountEffectiveDate"/>
        <result column="credentials_effective_date" jdbcType="TIMESTAMP" property="credentialsEffectiveDate"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="locked" jdbcType="TINYINT" property="locked"/>
        <result column="lock_limit" jdbcType="TINYINT" property="lockLimit"/>
        <result column="lock_time" jdbcType="TIMESTAMP" property="lockTime"/>
        <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime"/>
        <result column="last_login_ip" jdbcType="VARCHAR" property="lastLoginIp"/>
        <result column="referral" jdbcType="VARCHAR" property="referral"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="last_modified_by" jdbcType="VARCHAR" property="lastModifiedBy"/>
        <result column="last_modified_date" jdbcType="TIMESTAMP" property="lastModifiedDate"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, update_type, guid, username, cellphone, email, nickname, `password`, default_role,
        default_locale, account_effective_date, credentials_effective_date, `status`, locked,
        lock_limit, lock_time, last_login_time, last_login_ip, referral, create_by, create_date,
        last_modified_by, last_modified_date
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from mdl_user_history
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--@mbg.generated-->
        delete from mdl_user_history
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.minlia.modules.rebecca.bean.domain.UserHistory" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into mdl_user_history
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="updateType != null">
                update_type,
            </if>
            <if test="guid != null">
                guid,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="cellphone != null">
                cellphone,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="nickname != null">
                nickname,
            </if>
            <if test="password != null">
                `password`,
            </if>
            <if test="defaultRole != null">
                default_role,
            </if>
            <if test="defaultLocale != null">
                default_locale,
            </if>
            <if test="accountEffectiveDate != null">
                account_effective_date,
            </if>
            <if test="credentialsEffectiveDate != null">
                credentials_effective_date,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="locked != null">
                locked,
            </if>
            <if test="lockLimit != null">
                lock_limit,
            </if>
            <if test="lockTime != null">
                lock_time,
            </if>
            <if test="lastLoginTime != null">
                last_login_time,
            </if>
            <if test="lastLoginIp != null">
                last_login_ip,
            </if>
            <if test="referral != null">
                referral,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="lastModifiedBy != null">
                last_modified_by,
            </if>
            <if test="lastModifiedDate != null">
                last_modified_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="updateType != null">
                #{updateType,jdbcType=VARCHAR},
            </if>
            <if test="guid != null">
                #{guid,jdbcType=BIGINT},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="cellphone != null">
                #{cellphone,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="defaultRole != null">
                #{defaultRole,jdbcType=VARCHAR},
            </if>
            <if test="defaultLocale != null">
                #{defaultLocale,jdbcType=VARCHAR},
            </if>
            <if test="accountEffectiveDate != null">
                #{accountEffectiveDate,jdbcType=TIMESTAMP},
            </if>
            <if test="credentialsEffectiveDate != null">
                #{credentialsEffectiveDate,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="locked != null">
                #{locked,jdbcType=TINYINT},
            </if>
            <if test="lockLimit != null">
                #{lockLimit,jdbcType=TINYINT},
            </if>
            <if test="lockTime != null">
                #{lockTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastLoginTime != null">
                #{lastLoginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastLoginIp != null">
                #{lastLoginIp,jdbcType=VARCHAR},
            </if>
            <if test="referral != null">
                #{referral,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="lastModifiedBy != null">
                #{lastModifiedBy,jdbcType=VARCHAR},
            </if>
            <if test="lastModifiedDate != null">
                #{lastModifiedDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.minlia.modules.rebecca.bean.domain.UserHistory">
        <!--@mbg.generated-->
        update mdl_user_history
        <set>
            <if test="updateType != null">
                update_type = #{updateType,jdbcType=VARCHAR},
            </if>
            <if test="guid != null">
                guid = #{guid,jdbcType=BIGINT},
            </if>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="cellphone != null">
                cellphone = #{cellphone,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                nickname = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                `password` = #{password,jdbcType=VARCHAR},
            </if>
            <if test="defaultRole != null">
                default_role = #{defaultRole,jdbcType=VARCHAR},
            </if>
            <if test="defaultLocale != null">
                default_locale = #{defaultLocale,jdbcType=VARCHAR},
            </if>
            <if test="accountEffectiveDate != null">
                account_effective_date = #{accountEffectiveDate,jdbcType=TIMESTAMP},
            </if>
            <if test="credentialsEffectiveDate != null">
                credentials_effective_date = #{credentialsEffectiveDate,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=VARCHAR},
            </if>
            <if test="locked != null">
                locked = #{locked,jdbcType=TINYINT},
            </if>
            <if test="lockLimit != null">
                lock_limit = #{lockLimit,jdbcType=TINYINT},
            </if>
            <if test="lockTime != null">
                lock_time = #{lockTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastLoginTime != null">
                last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastLoginIp != null">
                last_login_ip = #{lastLoginIp,jdbcType=VARCHAR},
            </if>
            <if test="referral != null">
                referral = #{referral,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="lastModifiedBy != null">
                last_modified_by = #{lastModifiedBy,jdbcType=VARCHAR},
            </if>
            <if test="lastModifiedDate != null">
                last_modified_date = #{lastModifiedDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <!--auto generated by MybatisCodeHelper on 2019-07-03-->
    <select id="countByUpdateTypeAndGuidAndLastModifiedDateAfter" resultType="java.lang.Long">
        select count(1)
        from mdl_user_history
        where update_type=#{updateType,jdbcType=VARCHAR} and guid=#{guid,jdbcType=BIGINT} and last_modified_date <![CDATA[>]]> #{minLastModifiedDate,jdbcType=TIMESTAMP}
    </select>

    <!--auto generated by MybatisCodeHelper on 2019-07-29-->
    <select id="selectByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mdl_user_history
        where 1=1
        <if test="id != null">
            and id=#{id,jdbcType=BIGINT}
        </if>
        <if test="updateType != null">
            and update_type=#{updateType,jdbcType=VARCHAR}
        </if>
        <if test="guid != null">
            and guid=#{guid,jdbcType=BIGINT}
        </if>
        <if test="username != null">
            and username=#{username,jdbcType=VARCHAR}
        </if>
        <if test="cellphone != null">
            and cellphone=#{cellphone,jdbcType=VARCHAR}
        </if>
        <if test="email != null">
            and email=#{email,jdbcType=VARCHAR}
        </if>
        <if test="nickname != null">
            and nickname=#{nickname,jdbcType=VARCHAR}
        </if>
        <if test="password != null">
            and `password`=#{password,jdbcType=VARCHAR}
        </if>
        <if test="defaultRole != null">
            and default_role=#{defaultRole,jdbcType=VARCHAR}
        </if>
        <if test="defaultLocale != null">
            and default_locale=#{defaultLocale,jdbcType=VARCHAR}
        </if>
        <if test="accountEffectiveDate != null">
            and account_effective_date=#{accountEffectiveDate,jdbcType=TIMESTAMP}
        </if>
        <if test="credentialsEffectiveDate != null">
            and credentials_effective_date=#{credentialsEffectiveDate,jdbcType=TIMESTAMP}
        </if>
        <if test="status != null">
            and `status`=#{status,jdbcType=VARCHAR}
        </if>
        <if test="locked != null">
            and locked=#{locked,jdbcType=TINYINT}
        </if>
        <if test="lockLimit != null">
            and lock_limit=#{lockLimit,jdbcType=TINYINT}
        </if>
        <if test="lockTime != null">
            and lock_time=#{lockTime,jdbcType=TIMESTAMP}
        </if>
        <if test="lastLoginTime != null">
            and last_login_time=#{lastLoginTime,jdbcType=TIMESTAMP}
        </if>
        <if test="lastLoginIp != null">
            and last_login_ip=#{lastLoginIp,jdbcType=VARCHAR}
        </if>
        <if test="referral != null">
            and referral=#{referral,jdbcType=VARCHAR}
        </if>
        <if test="createBy != null">
            and create_by=#{createBy,jdbcType=VARCHAR}
        </if>
        <if test="createDate != null">
            and create_date=#{createDate,jdbcType=TIMESTAMP}
        </if>
        <if test="lastModifiedBy != null">
            and last_modified_by=#{lastModifiedBy,jdbcType=VARCHAR}
        </if>
        <if test="lastModifiedDate != null">
            and last_modified_date=#{lastModifiedDate,jdbcType=TIMESTAMP}
        </if>
    </select>

    <select id="countByAll" resultType="long">
        select count(1)
        from mdl_user_history
        where 1=1
        <if test="id != null">
            and id=#{id,jdbcType=BIGINT}
        </if>
        <if test="updateType != null">
            and update_type=#{updateType,jdbcType=VARCHAR}
        </if>
        <if test="guid != null">
            and guid=#{guid,jdbcType=BIGINT}
        </if>
        <if test="username != null">
            and username=#{username,jdbcType=VARCHAR}
        </if>
        <if test="cellphone != null">
            and cellphone=#{cellphone,jdbcType=VARCHAR}
        </if>
        <if test="email != null">
            and email=#{email,jdbcType=VARCHAR}
        </if>
        <if test="nickname != null">
            and nickname=#{nickname,jdbcType=VARCHAR}
        </if>
        <if test="password != null">
            and `password`=#{password,jdbcType=VARCHAR}
        </if>
        <if test="defaultRole != null">
            and default_role=#{defaultRole,jdbcType=VARCHAR}
        </if>
        <if test="defaultLocale != null">
            and default_locale=#{defaultLocale,jdbcType=VARCHAR}
        </if>
        <if test="accountEffectiveDate != null">
            and account_effective_date=#{accountEffectiveDate,jdbcType=TIMESTAMP}
        </if>
        <if test="credentialsEffectiveDate != null">
            and credentials_effective_date=#{credentialsEffectiveDate,jdbcType=TIMESTAMP}
        </if>
        <if test="status != null">
            and `status`=#{status,jdbcType=VARCHAR}
        </if>
        <if test="locked != null">
            and locked=#{locked,jdbcType=TINYINT}
        </if>
        <if test="lockLimit != null">
            and lock_limit=#{lockLimit,jdbcType=TINYINT}
        </if>
        <if test="lockTime != null">
            and lock_time=#{lockTime,jdbcType=TIMESTAMP}
        </if>
        <if test="lastLoginTime != null">
            and last_login_time=#{lastLoginTime,jdbcType=TIMESTAMP}
        </if>
        <if test="lastLoginIp != null">
            and last_login_ip=#{lastLoginIp,jdbcType=VARCHAR}
        </if>
        <if test="referral != null">
            and referral=#{referral,jdbcType=VARCHAR}
        </if>
        <if test="createBy != null">
            and create_by=#{createBy,jdbcType=VARCHAR}
        </if>
        <if test="createDate != null">
            and create_date=#{createDate,jdbcType=TIMESTAMP}
        </if>
        <if test="lastModifiedBy != null">
            and last_modified_by=#{lastModifiedBy,jdbcType=VARCHAR}
        </if>
        <if test="lastModifiedDate != null">
            and last_modified_date=#{lastModifiedDate,jdbcType=TIMESTAMP}
        </if>
    </select>

</mapper>