/******** icon start 图标字体来自https://icomoon.io/app/#/select/font ***********/
@font-face {
    font-family: icomoon;
    src: url(data:application/x-font-ttf;base64,AAEAAAALAIAAAwAwT1MvMg8SDboAAAC8AAAAYGNtYXD5lMz2AAABHAAAAGRnYXNwAAAAEAAAAYAAAAAIZ2x5ZibHTwkAAAGIAAACiGhlYWQKfL6NAAAEEAAAADZoaGVhB50DyAAABEgAAAAkaG10eBIAAUsAAARsAAAAHGxvY2EArAGqAAAEiAAAABBtYXhwABAAiAAABJgAAAAgbmFtZZlKCfsAAAS4AAABhnBvc3QAAwAAAAAGQAAAACAAAwOAAZAABQAAApkCzAAAAI8CmQLMAAAB6wAzAQkAAAAAAAAAAAAAAAAAAAABEAAAAAAAAAAAAAAAAAAAAABAAADxEAPA/8AAQAPAAEAAAAABAAAAAAAAAAAAAAAgAAAAAAADAAAAAwAAABwAAQADAAAAHAADAAEAAAAcAAQASAAAAA4ACAACAAYAAQAg6jrqPvEQ//3//wAAAAAAIOo66j7xEP/9//8AAf/jFcoVxw72AAMAAQAAAAAAAAAAAAAAAAAAAAEAAf//AA8AAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAAAQCTAAADbQNtAB4AAAkBJiIHAQYUFxYyPwERFBYzMjY1ERceATMyNjc2NCcDbf7AEjYS/sATExI2EtMlGxsl0wkYDAwYCRMTAi0BQBMT/sASNhITE9L9mxslJRsCZdIKCQkKEjYSAAABAJMAEwNtA4AAHQAACQEGIicBJjQ3NjIfARE0NjMyFhURNz4BMzIWFxYUA23+wBI2Ev7AExMSNhLTJRsbJdMJGAwMGAkTAVP+wBMTAUASNhITE9ICZRslJRv9m9IKCQkKEjYACAAl/9sD2wO3ABAAIQAxAEIAUwBjAHQAhQAAJRQHBiMiJyY1NDc2MzIXFhUFFAcGIyInJjU0NzYzMhcWFQEUBwYjIicmNTQ3NjMyFxYBFAcGIyInJjU0NzYzMhcWFQEUBwYjIicmNTQ3NjMyFxYVARQHBiMiJyY1NDc2MzIXFgEUBwYjIicmNTQ3NjMyFxYVBRQHBiMiJyY1NDc2MzIXFhUBLRYVHx0WFhYVHh8VFgEcFRYeHhYVFRYeHhYV/m4WFR4fFRUVFR8eFRYCrxYWHR8VFhYVHx4VFv3ZGxsmJRsbGxslJhsbApwVFR8eFRYWFR4fFRX+kyAgLi4gICAgLi4gIAEvJiY0NiUlJSU2NCYmmh4VFhYWHR8VFRUVH3UfFRYWFR8eFRYWFR4Bkh4WFRUWHh4WFRUW/sUdFhYWFR4fFRUVFR8COSUbGxsbJSYbGxsbJv7kHhYVFRYeHhYVFRYBdC4gICAgLi4gICAgLnY1JSYmJTU1JiUlJjUAAAAAAQAAAAAAAGMUGyNfDzz1AAsEAAAAAADTwbz/AAAAANPBvP8AAP/bA9sDtwAAAAgAAgAAAAAAAAABAAADwP/AAAAEAAAAAAAD2wABAAAAAAAAAAAAAAAAAAAABwQAAAAAAAAAAAAAAAIAAAAEAACTBAAAkwQAACUAAAAAAAoAFAAeAFIAhAFEAAEAAAAHAIYACAAAAAAAAgAAAAAAAAAAAAAAAAAAAAAAAAAOAK4AAQAAAAAAAQAHAAAAAQAAAAAAAgAHAGAAAQAAAAAAAwAHADYAAQAAAAAABAAHAHUAAQAAAAAABQALABUAAQAAAAAABgAHAEsAAQAAAAAACgAaAIoAAwABBAkAAQAOAAcAAwABBAkAAgAOAGcAAwABBAkAAwAOAD0AAwABBAkABAAOAHwAAwABBAkABQAWACAAAwABBAkABgAOAFIAAwABBAkACgA0AKRpY29tb29uAGkAYwBvAG0AbwBvAG5WZXJzaW9uIDEuMABWAGUAcgBzAGkAbwBuACAAMQAuADBpY29tb29uAGkAYwBvAG0AbwBvAG5pY29tb29uAGkAYwBvAG0AbwBvAG5SZWd1bGFyAFIAZQBnAHUAbABhAHJpY29tb29uAGkAYwBvAG0AbwBvAG5Gb250IGdlbmVyYXRlZCBieSBJY29Nb29uLgBGAG8AbgB0ACAAZwBlAG4AZQByAGEAdABlAGQAIABiAHkAIABJAGMAbwBNAG8AbwBuAC4AAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA);
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  vertical-align: middle;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon::before{
    vertical-align:middle;
}

.icon-spinner:before {
  content: "\f110";
}

.icon-arrow-up2:before {
  content: "\ea3a";
}

.icon-arrow-down2:before {
  content: "\ea3e";
}
/******** icon end ***********/

.loading {
  display: none;
  text-align: center;
  height: 2rem;
  line-height: 2rem;
  font-size: 0.75rem;
  padding: 0 0.83333rem;
}

.loading > *{
    vertical-align: middle;
    display: inline-block;
}

.loading > .icon {
  padding: 0 0.16667rem;
}

.loading.active {
  display: block;
}

.loading.pull > .icon-spinner, .loading.active > .icon-spinner {
  -webkit-animation: loading 1s linear 0s infinite normal;
  -moz-animation: loading 1s linear 0s infinite normal;
  animation: loading 1s linear 0s infinite normal;
}

.loading.pull-down {
  height: 0;
  display: block;
  overflow: hidden;
}

.loading > .icon.flip {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}

.loading > .icon.trans {
  transition: transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-moz-keyframes loading /* Firefox */ {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes loading /* Safari 和 Chrome */ {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
